<!-- Styles -->

<style>
  #chartdiv {
    width: 100%;
    height: 500px;
  }
  </style>
  
  <!-- Resources -->
  <script src="https://cdn.amcharts.com/lib/5/index.js"></script>
  <script src="https://cdn.amcharts.com/lib/5/xy.js"></script>
  <script src="https://cdn.amcharts.com/lib/5/themes/Animated.js"></script>
  
  <!-- Chart code -->
  <script>
  am5.ready(function() {
  
  // Data
  var allData = {
    "1": {
      "Southampton": 1,
        "Leeds": 3,
        "Man United": 3,
        "Everton": 1,
        "Charlton": 0,
        "Blackburn": 1,
        "Fulham": 3,
        "Arsenal": 0,
        "Aston Villa": 0,
        "Newcastle": 0,
        "Chelsea": 3,
        "West Brom": 0,
        "West Ham": 0,
        "Sunderland": 1,
        "Tottenham": 1,
        "Man City": 0,
        "Birmingham": 0,
        "Liverpool": 0,
        "Bolton": 0,
        "Middlesbrough": 1
    },
    "2": {
      "Southampton": 1,
        "Leeds": 3,
        "Man United": 3,
        "Everton": 1,
        "Charlton": 0,
        "Blackburn": 1,
        "Fulham": 3,
        "Arsenal": 3,
        "Aston Villa": 0,
        "Newcastle": 0,
        "Chelsea": 3,
        "West Brom": 0,
        "West Ham": 0,
        "Sunderland": 1,
        "Tottenham": 1,
        "Man City": 0,
        "Birmingham": 0,
        "Liverpool": 3,
        "Bolton": 0,
        "Middlesbrough": 1
    },
    "3": {
      "Southampton": 1,
        "Leeds": 3,
        "Man United": 3,
        "Everton": 1,
        "Charlton": 0,
        "Blackburn": 1,
        "Fulham": 3,
        "Arsenal": 3,
        "Aston Villa": 0,
        "Newcastle": 3,
        "Chelsea": 3,
        "West Brom": 0,
        "West Ham": 0,
        "Sunderland": 1,
        "Tottenham": 1,
        "Man City": 0,
        "Birmingham": 0,
        "Liverpool": 3,
        "Bolton": 0,
        "Middlesbrough": 1
    },
    "4": {
      "Southampton": 1,
        "Leeds": 3,
        "Man United": 4,
        "Everton": 1,
        "Charlton": 0,
        "Blackburn": 1,
        "Fulham": 3,
        "Arsenal": 3,
        "Aston Villa": 0,
        "Newcastle": 3,
        "Chelsea": 4,
        "West Brom": 0,
        "West Ham": 0,
        "Sunderland": 1,
        "Tottenham": 1,
        "Man City": 0,
        "Birmingham": 0,
        "Liverpool": 3,
        "Bolton": 0,
        "Middlesbrough": 1
    },
    "5": {
      "Southampton": 1,
      "Leeds": 6,
      "Man United": 4,
      "Everton": 4,
      "Charlton": 3,
      "Blackburn": 4,
      "Fulham": 4,
      "Arsenal": 4,
      "Aston Villa": 0,
      "Newcastle": 3,
      "Chelsea": 4,
      "West Brom": 0,
      "West Ham": 1,
      "Sunderland": 1,
      "Tottenham": 4,
      "Man City": 3,
      "Birmingham": 0,
      "Liverpool": 6,
      "Bolton": 0,
      "Middlesbrough": 2
    },
    "6": {
      "Southampton": 1,
      "Leeds": 6,
      "Man United": 4,
      "Everton": 4,
      "Charlton": 3,
      "Blackburn": 4,
      "Fulham": 4,
      "Arsenal": 7,
      "Aston Villa": 0,
      "Newcastle": 3,
      "Chelsea": 4,
      "West Brom": 0,
      "West Ham": 1,
      "Sunderland": 1,
      "Tottenham": 7,
      "Man City": 3,
      "Birmingham": 0,
      "Liverpool": 6,
      "Bolton": 0,
      "Middlesbrough": 2
    },
    "7": {
      "Southampton": 2,
        "Leeds": 6,
        "Man United": 4,
        "Everton": 5,
        "Charlton": 3,
        "Blackburn": 5,
        "Fulham": 4,
        "Arsenal": 7,
        "Aston Villa": 3,
        "Newcastle": 3,
        "Chelsea": 5,
        "West Brom": 0,
        "West Ham": 1,
        "Sunderland": 4,
        "Tottenham": 7,
        "Man City": 3,
        "Birmingham": 1,
        "Liverpool": 7,
        "Bolton": 0,
        "Middlesbrough": 2
    },
    "8": {
      "Southampton": 2,
        "Leeds": 6,
        "Man United": 5,
        "Everton": 5,
        "Charlton": 6,
        "Blackburn": 5,
        "Fulham": 4,
        "Arsenal": 7,
        "Aston Villa": 3,
        "Newcastle": 3,
        "Chelsea": 5,
        "West Brom": 3,
        "West Ham": 1,
        "Sunderland": 5,
        "Tottenham": 10,
        "Man City": 6,
        "Birmingham": 4,
        "Liverpool": 7,
        "Bolton": 0,
        "Middlesbrough": 5
    },
    "9": {
      "Southampton": 2,
        "Leeds": 6,
        "Man United": 5,
        "Everton": 5,
        "Charlton": 6,
        "Blackburn": 5,
        "Fulham": 4,
        "Arsenal": 8,
        "Aston Villa": 3,
        "Newcastle": 3,
        "Chelsea": 6,
        "West Brom": 3,
        "West Ham": 1,
        "Sunderland": 5,
        "Tottenham": 10,
        "Man City": 6,
        "Birmingham": 4,
        "Liverpool": 7,
        "Bolton": 3,
        "Middlesbrough": 5
    },
    "10": {
      "Southampton": 2,
        "Leeds": 6,
        "Man United": 5,
        "Everton": 5,
        "Charlton": 6,
        "Blackburn": 5,
        "Fulham": 4,
        "Arsenal": 8,
        "Aston Villa": 3,
        "Newcastle": 4,
        "Chelsea": 6,
        "West Brom": 3,
        "West Ham": 1,
        "Sunderland": 5,
        "Tottenham": 10,
        "Man City": 6,
        "Birmingham": 4,
        "Liverpool": 8,
        "Bolton": 3,
        "Middlesbrough": 5
    },
    "11": {
      "Southampton": 2,
        "Leeds": 6,
        "Man United": 8,
        "Everton": 5,
        "Charlton": 6,
        "Blackburn": 5,
        "Fulham": 4,
        "Arsenal": 8,
        "Aston Villa": 3,
        "Newcastle": 4,
        "Chelsea": 6,
        "West Brom": 3,
        "West Ham": 1,
        "Sunderland": 5,
        "Tottenham": 10,
        "Man City": 6,
        "Birmingham": 4,
        "Liverpool": 8,
        "Bolton": 3,
        "Middlesbrough": 5
    },
    "12": {
      "Southampton": 2,
        "Leeds": 6,
        "Man United": 8,
        "Everton": 5,
        "Charlton": 6,
        "Blackburn": 5,
        "Fulham": 4,
        "Arsenal": 11,
        "Aston Villa": 3,
        "Newcastle": 4,
        "Chelsea": 6,
        "West Brom": 3,
        "West Ham": 1,
        "Sunderland": 5,
        "Tottenham": 10,
        "Man City": 6,
        "Birmingham": 4,
        "Liverpool": 8,
        "Bolton": 3,
        "Middlesbrough": 8
    },
    "13": {
      "Southampton": 5,
        "Leeds": 9,
        "Man United": 8,
        "Everton": 5,
        "Charlton": 6,
        "Blackburn": 5,
        "Fulham": 7,
        "Arsenal": 11,
        "Aston Villa": 6,
        "Newcastle": 4,
        "Chelsea": 9,
        "West Brom": 6,
        "West Ham": 1,
        "Sunderland": 5,
        "Tottenham": 10,
        "Man City": 6,
        "Birmingham": 5,
        "Liverpool": 9,
        "Bolton": 6,
        "Middlesbrough": 8
    },
    "14": {
      "Southampton": 5,
        "Leeds": 12,
        "Man United": 8,
        "Everton": 8,
        "Charlton": 6,
        "Blackburn": 5,
        "Fulham": 10,
        "Arsenal": 14,
        "Aston Villa": 6,
        "Newcastle": 4,
        "Chelsea": 12,
        "West Brom": 9,
        "West Ham": 1,
        "Sunderland": 5,
        "Tottenham": 10,
        "Man City": 6,
        "Birmingham": 5,
        "Liverpool": 12,
        "Bolton": 6,
        "Middlesbrough": 8
    },
    "15": {
      "Southampton": 5,
        "Leeds": 12,
        "Man United": 8,
        "Everton": 8,
        "Charlton": 6,
        "Blackburn": 6,
        "Fulham": 10,
        "Arsenal": 14,
        "Aston Villa": 6,
        "Newcastle": 4,
        "Chelsea": 12,
        "West Brom": 9,
        "West Ham": 1,
        "Sunderland": 5,
        "Tottenham": 13,
        "Man City": 7,
        "Birmingham": 5,
        "Liverpool": 12,
        "Bolton": 6,
        "Middlesbrough": 8
    },
    "16": {
      "Southampton": 5,
        "Leeds": 12,
        "Man United": 8,
        "Everton": 8,
        "Charlton": 6,
        "Blackburn": 6,
        "Fulham": 10,
        "Arsenal": 14,
        "Aston Villa": 6,
        "Newcastle": 4,
        "Chelsea": 12,
        "West Brom": 9,
        "West Ham": 1,
        "Sunderland": 5,
        "Tottenham": 13,
        "Man City": 7,
        "Birmingham": 8,
        "Liverpool": 12,
        "Bolton": 6,
        "Middlesbrough": 8
    },
    "17": {
      "Southampton": 6,
        "Leeds": 12,
        "Man United": 11,
        "Everton": 8,
        "Charlton": 7,
        "Blackburn": 6,
        "Fulham": 10,
        "Arsenal": 17,
        "Aston Villa": 6,
        "Newcastle": 7,
        "Chelsea": 12,
        "West Brom": 9,
        "West Ham": 2,
        "Sunderland": 5,
        "Tottenham": 13,
        "Man City": 8,
        "Birmingham": 8,
        "Liverpool": 15,
        "Bolton": 6,
        "Middlesbrough": 11
    },
    "18": {
        "Southampton": 6,
        "Leeds": 12,
        "Man United": 11,
        "Everton": 8,
        "Charlton": 7,
        "Blackburn": 9,
        "Fulham": 10,
        "Arsenal": 17,
        "Aston Villa": 9,
        "Newcastle": 7,
        "Chelsea": 12,
        "West Brom": 9,
        "West Ham": 2,
        "Sunderland": 5,
        "Tottenham": 13,
        "Man City": 8,
        "Birmingham": 8,
        "Liverpool": 15,
        "Bolton": 6,
        "Middlesbrough": 11
    },
    "19": {
        "Southampton": 6,
        "Leeds": 12,
        "Man United": 11,
        "Everton": 8,
        "Charlton": 7,
        "Blackburn": 9,
        "Fulham": 11,
        "Arsenal": 17,
        "Aston Villa": 9,
        "Newcastle": 7,
        "Chelsea": 13,
        "West Brom": 9,
        "West Ham": 2,
        "Sunderland": 5,
        "Tottenham": 13,
        "Man City": 8,
        "Birmingham": 8,
        "Liverpool": 15,
        "Bolton": 6,
        "Middlesbrough": 11
    },
    "20": {
        "Southampton": 7,
        "Leeds": 12,
        "Man United": 14,
        "Everton": 11,
        "Charlton": 7,
        "Blackburn": 9,
        "Fulham": 11,
        "Arsenal": 20,
        "Aston Villa": 9,
        "Newcastle": 10,
        "Chelsea": 13,
        "West Brom": 9,
        "West Ham": 5,
        "Sunderland": 8,
        "Tottenham": 13,
        "Man City": 8,
        "Birmingham": 8,
        "Liverpool": 18,
        "Bolton": 7,
        "Middlesbrough": 14
    },
    "21": {
        "Southampton": 7,
        "Leeds": 12,
        "Man United": 14,
        "Everton": 11,
        "Charlton": 7,
        "Blackburn": 12,
        "Fulham": 11,
        "Arsenal": 20,
        "Aston Villa": 9,
        "Newcastle": 10,
        "Chelsea": 13,
        "West Brom": 9,
        "West Ham": 5,
        "Sunderland": 8,
        "Tottenham": 13,
        "Man City": 8,
        "Birmingham": 8,
        "Liverpool": 18,
        "Bolton": 7,
        "Middlesbrough": 14
    },
    "22": {
        "Southampton": 10,
        "Leeds": 12,
        "Man United": 14,
        "Everton": 11,
        "Charlton": 7,
        "Blackburn": 12,
        "Fulham": 11,
        "Arsenal": 20,
        "Aston Villa": 9,
        "Newcastle": 13,
        "Chelsea": 13,
        "West Brom": 9,
        "West Ham": 5,
        "Sunderland": 8,
        "Tottenham": 13,
        "Man City": 8,
        "Birmingham": 11,
        "Liverpool": 18,
        "Bolton": 7,
        "Middlesbrough": 17
    },
    "23": {
        "Southampton": 10,
        "Leeds": 13,
        "Man United": 14,
        "Everton": 11,
        "Charlton": 7,
        "Blackburn": 12,
        "Fulham": 14,
        "Arsenal": 23,
        "Aston Villa": 10,
        "Newcastle": 13,
        "Chelsea": 13,
        "West Brom": 9,
        "West Ham": 5,
        "Sunderland": 8,
        "Tottenham": 16,
        "Man City": 8,
        "Birmingham": 11,
        "Liverpool": 21,
        "Bolton": 7,
        "Middlesbrough": 17
    },
    "24": {
        "Southampton": 10,
        "Leeds": 13,
        "Man United": 17,
        "Everton": 11,
        "Charlton": 7,
        "Blackburn": 12,
        "Fulham": 14,
        "Arsenal": 23,
        "Aston Villa": 10,
        "Newcastle": 13,
        "Chelsea": 13,
        "West Brom": 9,
        "West Ham": 5,
        "Sunderland": 8,
        "Tottenham": 16,
        "Man City": 8,
        "Birmingham": 11,
        "Liverpool": 21,
        "Bolton": 7,
        "Middlesbrough": 17
    },
    "25": {
        "Southampton": 10,
        "Leeds": 13,
        "Man United": 18,
        "Everton": 14,
        "Charlton": 7,
        "Blackburn": 15,
        "Fulham": 15,
        "Arsenal": 23,
        "Aston Villa": 10,
        "Newcastle": 13,
        "Chelsea": 16,
        "West Brom": 10,
        "West Ham": 8,
        "Sunderland": 8,
        "Tottenham": 16,
        "Man City": 8,
        "Birmingham": 12,
        "Liverpool": 24,
        "Bolton": 7,
        "Middlesbrough": 17
    },
    "26": {
        "Southampton": 10,
        "Leeds": 13,
        "Man United": 18,
        "Everton": 14,
        "Charlton": 10,
        "Blackburn": 15,
        "Fulham": 15,
        "Arsenal": 23,
        "Aston Villa": 10,
        "Newcastle": 13,
        "Chelsea": 16,
        "West Brom": 10,
        "West Ham": 8,
        "Sunderland": 8,
        "Tottenham": 19,
        "Man City": 8,
        "Birmingham": 12,
        "Liverpool": 24,
        "Bolton": 7,
        "Middlesbrough": 17
    },
    "27": {
        "Southampton": 13,
        "Leeds": 13,
        "Man United": 18,
        "Everton": 14,
        "Charlton": 10,
        "Blackburn": 15,
        "Fulham": 15,
        "Arsenal": 23,
        "Aston Villa": 10,
        "Newcastle": 13,
        "Chelsea": 16,
        "West Brom": 10,
        "West Ham": 8,
        "Sunderland": 8,
        "Tottenham": 19,
        "Man City": 8,
        "Birmingham": 12,
        "Liverpool": 24,
        "Bolton": 7,
        "Middlesbrough": 17
    },
    "28": {
        "Southampton": 13,
        "Leeds": 13,
        "Man United": 18,
        "Everton": 14,
        "Charlton": 10,
        "Blackburn": 15,
        "Fulham": 15,
        "Arsenal": 23,
        "Aston Villa": 10,
        "Newcastle": 13,
        "Chelsea": 16,
        "West Brom": 10,
        "West Ham": 11,
        "Sunderland": 8,
        "Tottenham": 19,
        "Man City": 8,
        "Birmingham": 12,
        "Liverpool": 24,
        "Bolton": 7,
        "Middlesbrough": 17
    },
    "29": {
        "Southampton": 13,
        "Leeds": 14,
        "Man United": 19,
        "Everton": 14,
        "Charlton": 10,
        "Blackburn": 18,
        "Fulham": 15,
        "Arsenal": 23,
        "Aston Villa": 11,
        "Newcastle": 16,
        "Chelsea": 19,
        "West Brom": 10,
        "West Ham": 11,
        "Sunderland": 8,
        "Tottenham": 19,
        "Man City": 11,
        "Birmingham": 12,
        "Liverpool": 27,
        "Bolton": 7,
        "Middlesbrough": 18
    },
    "30": {
        "Southampton": 16,
        "Leeds": 14,
        "Man United": 19,
        "Everton": 17,
        "Charlton": 10,
        "Blackburn": 18,
        "Fulham": 15,
        "Arsenal": 23,
        "Aston Villa": 11,
        "Newcastle": 16,
        "Chelsea": 19,
        "West Brom": 10,
        "West Ham": 11,
        "Sunderland": 8,
        "Tottenham": 19,
        "Man City": 11,
        "Birmingham": 12,
        "Liverpool": 27,
        "Bolton": 7,
        "Middlesbrough": 18
    },
    "31": {
        "Southampton": 16,
        "Leeds": 14,
        "Man United": 19,
        "Everton": 17,
        "Charlton": 10,
        "Blackburn": 18,
        "Fulham": 15,
        "Arsenal": 23,
        "Aston Villa": 11,
        "Newcastle": 16,
        "Chelsea": 19,
        "West Brom": 10,
        "West Ham": 11,
        "Sunderland": 9,
        "Tottenham": 19,
        "Man City": 11,
        "Birmingham": 12,
        "Liverpool": 27,
        "Bolton": 8,
        "Middlesbrough": 18
    },
    "32": {
        "Southampton": 16,
        "Leeds": 14,
        "Man United": 22,
        "Everton": 17,
        "Charlton": 10,
        "Blackburn": 18,
        "Fulham": 15,
        "Arsenal": 23,
        "Aston Villa": 11,
        "Newcastle": 16,
        "Chelsea": 19,
        "West Brom": 10,
        "West Ham": 11,
        "Sunderland": 9,
        "Tottenham": 19,
        "Man City": 14,
        "Birmingham": 15,
        "Liverpool": 30,
        "Bolton": 8,
        "Middlesbrough": 18
    },
    "33": {
        "Southampton": 16,
        "Leeds": 14,
        "Man United": 22,
        "Everton": 20,
        "Charlton": 11,
        "Blackburn": 19,
        "Fulham": 15,
        "Arsenal": 26,
        "Aston Villa": 12,
        "Newcastle": 16,
        "Chelsea": 20,
        "West Brom": 10,
        "West Ham": 11,
        "Sunderland": 10,
        "Tottenham": 20,
        "Man City": 14,
        "Birmingham": 15,
        "Liverpool": 30,
        "Bolton": 8,
        "Middlesbrough": 18
    },
    "34": {
        "Southampton": 16,
        "Leeds": 14,
        "Man United": 22,
        "Everton": 20,
        "Charlton": 11,
        "Blackburn": 19,
        "Fulham": 15,
        "Arsenal": 26,
        "Aston Villa": 12,
        "Newcastle": 19,
        "Chelsea": 20,
        "West Brom": 10,
        "West Ham": 11,
        "Sunderland": 10,
        "Tottenham": 20,
        "Man City": 14,
        "Birmingham": 15,
        "Liverpool": 30,
        "Bolton": 8,
        "Middlesbrough": 18
    },
    "35": {
        "Southampton": 17,
        "Leeds": 14,
        "Man United": 22,
        "Everton": 23,
        "Charlton": 11,
        "Blackburn": 20,
        "Fulham": 15,
        "Arsenal": 29,
        "Aston Villa": 15,
        "Newcastle": 19,
        "Chelsea": 23,
        "West Brom": 11,
        "West Ham": 11,
        "Sunderland": 10,
        "Tottenham": 20,
        "Man City": 17,
        "Birmingham": 15,
        "Liverpool": 30,
        "Bolton": 9,
        "Middlesbrough": 21
    },
    "36": {
        "Southampton": 17,
        "Leeds": 17,
        "Man United": 22,
        "Everton": 23,
        "Charlton": 11,
        "Blackburn": 20,
        "Fulham": 15,
        "Arsenal": 29,
        "Aston Villa": 15,
        "Newcastle": 19,
        "Chelsea": 23,
        "West Brom": 11,
        "West Ham": 11,
        "Sunderland": 13,
        "Tottenham": 20,
        "Man City": 17,
        "Birmingham": 15,
        "Liverpool": 30,
        "Bolton": 9,
        "Middlesbrough": 21
    },
    "37": {
        "Southampton": 17,
        "Leeds": 17,
        "Man United": 22,
        "Everton": 23,
        "Charlton": 14,
        "Blackburn": 20,
        "Fulham": 15,
        "Arsenal": 32,
        "Aston Villa": 16,
        "Newcastle": 22,
        "Chelsea": 26,
        "West Brom": 12,
        "West Ham": 11,
        "Sunderland": 13,
        "Tottenham": 20,
        "Man City": 17,
        "Birmingham": 15,
        "Liverpool": 30,
        "Bolton": 9,
        "Middlesbrough": 21
    },
    "38": {
        "Southampton": 17,
        "Leeds": 17,
        "Man United": 23,
        "Everton": 26,
        "Charlton": 14,
        "Blackburn": 20,
        "Fulham": 16,
        "Arsenal": 32,
        "Aston Villa": 16,
        "Newcastle": 22,
        "Chelsea": 26,
        "West Brom": 12,
        "West Ham": 12,
        "Sunderland": 14,
        "Tottenham": 20,
        "Man City": 17,
        "Birmingham": 16,
        "Liverpool": 31,
        "Bolton": 12,
        "Middlesbrough": 21
    },
    "39": {
        "Southampton": 20,
        "Leeds": 17,
        "Man United": 26,
        "Everton": 29,
        "Charlton": 14,
        "Blackburn": 20,
        "Fulham": 19,
        "Arsenal": 32,
        "Aston Villa": 19,
        "Newcastle": 22,
        "Chelsea": 27,
        "West Brom": 12,
        "West Ham": 12,
        "Sunderland": 14,
        "Tottenham": 20,
        "Man City": 17,
        "Birmingham": 19,
        "Liverpool": 31,
        "Bolton": 13,
        "Middlesbrough": 24
    },
    "40": {
        "Southampton": 20,
        "Leeds": 17,
        "Man United": 26,
        "Everton": 29,
        "Charlton": 17,
        "Blackburn": 20,
        "Fulham": 19,
        "Arsenal": 32,
        "Aston Villa": 19,
        "Newcastle": 22,
        "Chelsea": 27,
        "West Brom": 12,
        "West Ham": 12,
        "Sunderland": 14,
        "Tottenham": 23,
        "Man City": 17,
        "Birmingham": 19,
        "Liverpool": 31,
        "Bolton": 13,
        "Middlesbrough": 24
    },
    "41": {
        "Southampton": 20,
        "Leeds": 17,
        "Man United": 26,
        "Everton": 29,
        "Charlton": 17,
        "Blackburn": 23,
        "Fulham": 19,
        "Arsenal": 35,
        "Aston Villa": 19,
        "Newcastle": 22,
        "Chelsea": 30,
        "West Brom": 15,
        "West Ham": 12,
        "Sunderland": 14,
        "Tottenham": 24,
        "Man City": 20,
        "Birmingham": 20,
        "Liverpool": 31,
        "Bolton": 13,
        "Middlesbrough": 24
    },
    "42": {
        "Southampton": 20,
        "Leeds": 17,
        "Man United": 29,
        "Everton": 29,
        "Charlton": 20,
        "Blackburn": 23,
        "Fulham": 19,
        "Arsenal": 35,
        "Aston Villa": 19,
        "Newcastle": 25,
        "Chelsea": 30,
        "West Brom": 15,
        "West Ham": 12,
        "Sunderland": 14,
        "Tottenham": 24,
        "Man City": 20,
        "Birmingham": 20,
        "Liverpool": 31,
        "Bolton": 13,
        "Middlesbrough": 24
    },
    "43": {
        "Southampton": 23,
        "Leeds": 17,
        "Man United": 29,
        "Everton": 29,
        "Charlton": 20,
        "Blackburn": 23,
        "Fulham": 19,
        "Arsenal": 35,
        "Aston Villa": 19,
        "Newcastle": 25,
        "Chelsea": 30,
        "West Brom": 15,
        "West Ham": 12,
        "Sunderland": 14,
        "Tottenham": 24,
        "Man City": 20,
        "Birmingham": 20,
        "Liverpool": 31,
        "Bolton": 13,
        "Middlesbrough": 24
    },
    "44": {
        "Southampton": 26,
        "Leeds": 17,
        "Man United": 32,
        "Everton": 29,
        "Charlton": 23,
        "Blackburn": 24,
        "Fulham": 22,
        "Arsenal": 35,
        "Aston Villa": 19,
        "Newcastle": 28,
        "Chelsea": 33,
        "West Brom": 15,
        "West Ham": 13,
        "Sunderland": 14,
        "Tottenham": 24,
        "Man City": 20,
        "Birmingham": 20,
        "Liverpool": 31,
        "Bolton": 14,
        "Middlesbrough": 25
    },
    "45": {
        "Southampton": 26,
        "Leeds": 17,
        "Man United": 32,
        "Everton": 29,
        "Charlton": 23,
        "Blackburn": 24,
        "Fulham": 22,
        "Arsenal": 35,
        "Aston Villa": 19,
        "Newcastle": 28,
        "Chelsea": 33,
        "West Brom": 15,
        "West Ham": 13,
        "Sunderland": 14,
        "Tottenham": 27,
        "Man City": 20,
        "Birmingham": 20,
        "Liverpool": 31,
        "Bolton": 14,
        "Middlesbrough": 25
    },
    "46": {
        "Southampton": 26,
        "Leeds": 17,
        "Man United": 32,
        "Everton": 29,
        "Charlton": 23,
        "Blackburn": 24,
        "Fulham": 22,
        "Arsenal": 35,
        "Aston Villa": 19,
        "Newcastle": 28,
        "Chelsea": 33,
        "West Brom": 15,
        "West Ham": 13,
        "Sunderland": 14,
        "Tottenham": 27,
        "Man City": 23,
        "Birmingham": 20,
        "Liverpool": 31,
        "Bolton": 14,
        "Middlesbrough": 25
    },
    "47": {
        "Southampton": 27,
        "Leeds": 17,
        "Man United": 35,
        "Everton": 32,
        "Charlton": 24,
        "Blackburn": 24,
        "Fulham": 22,
        "Arsenal": 35,
        "Aston Villa": 22,
        "Newcastle": 29,
        "Chelsea": 34,
        "West Brom": 15,
        "West Ham": 13,
        "Sunderland": 14,
        "Tottenham": 27,
        "Man City": 24,
        "Birmingham": 20,
        "Liverpool": 31,
        "Bolton": 14,
        "Middlesbrough": 26
    },
    "48": {
        "Southampton": 27,
        "Leeds": 17,
        "Man United": 35,
        "Everton": 32,
        "Charlton": 24,
        "Blackburn": 24,
        "Fulham": 22,
        "Arsenal": 36,
        "Aston Villa": 22,
        "Newcastle": 29,
        "Chelsea": 34,
        "West Brom": 15,
        "West Ham": 13,
        "Sunderland": 17,
        "Tottenham": 28,
        "Man City": 24,
        "Birmingham": 23,
        "Liverpool": 31,
        "Bolton": 14,
        "Middlesbrough": 26
    },
    "49": {
        "Southampton": 27,
        "Leeds": 20,
        "Man United": 35,
        "Everton": 32,
        "Charlton": 24,
        "Blackburn": 24,
        "Fulham": 22,
        "Arsenal": 36,
        "Aston Villa": 22,
        "Newcastle": 29,
        "Chelsea": 34,
        "West Brom": 15,
        "West Ham": 13,
        "Sunderland": 17,
        "Tottenham": 28,
        "Man City": 24,
        "Birmingham": 23,
        "Liverpool": 31,
        "Bolton": 14,
        "Middlesbrough": 26
    },
    "50": {
        "Southampton": 28,
        "Leeds": 21,
        "Man United": 35,
        "Everton": 32,
        "Charlton": 25,
        "Blackburn": 24,
        "Fulham": 22,
        "Arsenal": 39,
        "Aston Villa": 22,
        "Newcastle": 32,
        "Chelsea": 37,
        "West Brom": 16,
        "West Ham": 14,
        "Sunderland": 18,
        "Tottenham": 28,
        "Man City": 24,
        "Birmingham": 24,
        "Liverpool": 31,
        "Bolton": 15,
        "Middlesbrough": 26
    },
    "51": {
        "Southampton": 28,
        "Leeds": 21,
        "Man United": 35,
        "Everton": 33,
        "Charlton": 25,
        "Blackburn": 27,
        "Fulham": 22,
        "Arsenal": 39,
        "Aston Villa": 22,
        "Newcastle": 32,
        "Chelsea": 37,
        "West Brom": 16,
        "West Ham": 14,
        "Sunderland": 18,
        "Tottenham": 28,
        "Man City": 24,
        "Birmingham": 24,
        "Liverpool": 32,
        "Bolton": 15,
        "Middlesbrough": 26
    },
    "52": {
        "Southampton": 28,
        "Leeds": 21,
        "Man United": 35,
        "Everton": 33,
        "Charlton": 25,
        "Blackburn": 27,
        "Fulham": 22,
        "Arsenal": 39,
        "Aston Villa": 22,
        "Newcastle": 32,
        "Chelsea": 37,
        "West Brom": 16,
        "West Ham": 14,
        "Sunderland": 18,
        "Tottenham": 31,
        "Man City": 24,
        "Birmingham": 24,
        "Liverpool": 32,
        "Bolton": 15,
        "Middlesbrough": 26
    },
    "53": {
        "Southampton": 29,
        "Leeds": 24,
        "Man United": 35,
        "Everton": 34,
        "Charlton": 26,
        "Blackburn": 28,
        "Fulham": 23,
        "Arsenal": 42,
        "Aston Villa": 22,
        "Newcastle": 32,
        "Chelsea": 38,
        "West Brom": 16,
        "West Ham": 15,
        "Sunderland": 18,
        "Tottenham": 32,
        "Man City": 27,
        "Birmingham": 25,
        "Liverpool": 33,
        "Bolton": 18,
        "Middlesbrough": 29
    },
    "54": {
        "Southampton": 32,
        "Leeds": 27,
        "Man United": 38,
        "Everton": 35,
        "Charlton": 29,
        "Blackburn": 29,
        "Fulham": 23,
        "Arsenal": 42,
        "Aston Villa": 25,
        "Newcastle": 32,
        "Chelsea": 38,
        "West Brom": 16,
        "West Ham": 16,
        "Sunderland": 18,
        "Tottenham": 32,
        "Man City": 30,
        "Birmingham": 25,
        "Liverpool": 33,
        "Bolton": 19,
        "Middlesbrough": 29
    },
    "55": {
        "Southampton": 32,
        "Leeds": 27,
        "Man United": 38,
        "Everton": 35,
        "Charlton": 29,
        "Blackburn": 29,
        "Fulham": 23,
        "Arsenal": 43,
        "Aston Villa": 25,
        "Newcastle": 35,
        "Chelsea": 38,
        "West Brom": 16,
        "West Ham": 16,
        "Sunderland": 18,
        "Tottenham": 32,
        "Man City": 30,
        "Birmingham": 25,
        "Liverpool": 34,
        "Bolton": 19,
        "Middlesbrough": 29
    },
    "56": {
        "Southampton": 35,
        "Leeds": 30,
        "Man United": 41,
        "Everton": 36,
        "Charlton": 29,
        "Blackburn": 32,
        "Fulham": 23,
        "Arsenal": 46,
        "Aston Villa": 28,
        "Newcastle": 38,
        "Chelsea": 38,
        "West Brom": 16,
        "West Ham": 16,
        "Sunderland": 18,
        "Tottenham": 32,
        "Man City": 31,
        "Birmingham": 25,
        "Liverpool": 34,
        "Bolton": 19,
        "Middlesbrough": 29
    },
    "57": {
        "Southampton": 36,
        "Leeds": 30,
        "Man United": 44,
        "Everton": 36,
        "Charlton": 29,
        "Blackburn": 33,
        "Fulham": 24,
        "Arsenal": 46,
        "Aston Villa": 29,
        "Newcastle": 39,
        "Chelsea": 41,
        "West Brom": 16,
        "West Ham": 17,
        "Sunderland": 19,
        "Tottenham": 32,
        "Man City": 34,
        "Birmingham": 25,
        "Liverpool": 35,
        "Bolton": 20,
        "Middlesbrough": 30
    },
    "58": {
        "Southampton": 36,
        "Leeds": 30,
        "Man United": 44,
        "Everton": 36,
        "Charlton": 29,
        "Blackburn": 33,
        "Fulham": 24,
        "Arsenal": 49,
        "Aston Villa": 29,
        "Newcastle": 39,
        "Chelsea": 41,
        "West Brom": 16,
        "West Ham": 17,
        "Sunderland": 19,
        "Tottenham": 35,
        "Man City": 34,
        "Birmingham": 25,
        "Liverpool": 35,
        "Bolton": 20,
        "Middlesbrough": 30
    },
    "59": {
        "Southampton": 36,
        "Leeds": 31,
        "Man United": 47,
        "Everton": 39,
        "Charlton": 30,
        "Blackburn": 34,
        "Fulham": 24,
        "Arsenal": 49,
        "Aston Villa": 29,
        "Newcastle": 42,
        "Chelsea": 41,
        "West Brom": 17,
        "West Ham": 17,
        "Sunderland": 19,
        "Tottenham": 38,
        "Man City": 34,
        "Birmingham": 26,
        "Liverpool": 38,
        "Bolton": 21,
        "Middlesbrough": 30
    },
    "60": {
        "Southampton": 36,
        "Leeds": 31,
        "Man United": 47,
        "Everton": 39,
        "Charlton": 30,
        "Blackburn": 34,
        "Fulham": 27,
        "Arsenal": 52,
        "Aston Villa": 29,
        "Newcastle": 42,
        "Chelsea": 41,
        "West Brom": 17,
        "West Ham": 17,
        "Sunderland": 19,
        "Tottenham": 38,
        "Man City": 34,
        "Birmingham": 26,
        "Liverpool": 38,
        "Bolton": 21,
        "Middlesbrough": 30
    },
    "61": {
        "Southampton": 36,
        "Leeds": 31,
        "Man United": 47,
        "Everton": 39,
        "Charlton": 33,
        "Blackburn": 34,
        "Fulham": 27,
        "Arsenal": 52,
        "Aston Villa": 29,
        "Newcastle": 45,
        "Chelsea": 41,
        "West Brom": 17,
        "West Ham": 17,
        "Sunderland": 19,
        "Tottenham": 38,
        "Man City": 34,
        "Birmingham": 26,
        "Liverpool": 38,
        "Bolton": 21,
        "Middlesbrough": 30
    },
    "62": {
        "Southampton": 39,
        "Leeds": 31,
        "Man United": 47,
        "Everton": 42,
        "Charlton": 33,
        "Blackburn": 34,
        "Fulham": 27,
        "Arsenal": 52,
        "Aston Villa": 32,
        "Newcastle": 45,
        "Chelsea": 44,
        "West Brom": 17,
        "West Ham": 17,
        "Sunderland": 19,
        "Tottenham": 38,
        "Man City": 34,
        "Birmingham": 26,
        "Liverpool": 38,
        "Bolton": 21,
        "Middlesbrough": 30
    },
    "63": {
        "Southampton": 39,
        "Leeds": 31,
        "Man United": 47,
        "Everton": 42,
        "Charlton": 36,
        "Blackburn": 34,
        "Fulham": 27,
        "Arsenal": 53,
        "Aston Villa": 32,
        "Newcastle": 48,
        "Chelsea": 44,
        "West Brom": 17,
        "West Ham": 20,
        "Sunderland": 19,
        "Tottenham": 38,
        "Man City": 37,
        "Birmingham": 26,
        "Liverpool": 39,
        "Bolton": 21,
        "Middlesbrough": 30
    },
    "64": {
        "Southampton": 39,
        "Leeds": 31,
        "Man United": 50,
        "Everton": 45,
        "Charlton": 39,
        "Blackburn": 34,
        "Fulham": 27,
        "Arsenal": 56,
        "Aston Villa": 32,
        "Newcastle": 48,
        "Chelsea": 45,
        "West Brom": 20,
        "West Ham": 20,
        "Sunderland": 19,
        "Tottenham": 39,
        "Man City": 37,
        "Birmingham": 26,
        "Liverpool": 39,
        "Bolton": 24,
        "Middlesbrough": 30
    },
    "65": {
        "Southampton": 39,
        "Leeds": 31,
        "Man United": 50,
        "Everton": 45,
        "Charlton": 39,
        "Blackburn": 34,
        "Fulham": 27,
        "Arsenal": 56,
        "Aston Villa": 35,
        "Newcastle": 48,
        "Chelsea": 45,
        "West Brom": 20,
        "West Ham": 20,
        "Sunderland": 19,
        "Tottenham": 39,
        "Man City": 37,
        "Birmingham": 26,
        "Liverpool": 42,
        "Bolton": 24,
        "Middlesbrough": 30
    },
    "66": {
        "Southampton": 39,
        "Leeds": 31,
        "Man United": 53,
        "Everton": 45,
        "Charlton": 39,
        "Blackburn": 34,
        "Fulham": 27,
        "Arsenal": 56,
        "Aston Villa": 35,
        "Newcastle": 48,
        "Chelsea": 45,
        "West Brom": 20,
        "West Ham": 20,
        "Sunderland": 19,
        "Tottenham": 39,
        "Man City": 37,
        "Birmingham": 26,
        "Liverpool": 42,
        "Bolton": 24,
        "Middlesbrough": 30
    },
    "67": {
        "Southampton": 39,
        "Leeds": 34,
        "Man United": 53,
        "Everton": 45,
        "Charlton": 42,
        "Blackburn": 37,
        "Fulham": 30,
        "Arsenal": 56,
        "Aston Villa": 35,
        "Newcastle": 48,
        "Chelsea": 48,
        "West Brom": 21,
        "West Ham": 20,
        "Sunderland": 19,
        "Tottenham": 42,
        "Man City": 37,
        "Birmingham": 26,
        "Liverpool": 43,
        "Bolton": 25,
        "Middlesbrough": 31
    },
    "68": {
        "Southampton": 39,
        "Leeds": 34,
        "Man United": 54,
        "Everton": 45,
        "Charlton": 42,
        "Blackburn": 37,
        "Fulham": 30,
        "Arsenal": 57,
        "Aston Villa": 35,
        "Newcastle": 49,
        "Chelsea": 48,
        "West Brom": 21,
        "West Ham": 20,
        "Sunderland": 19,
        "Tottenham": 42,
        "Man City": 38,
        "Birmingham": 26,
        "Liverpool": 43,
        "Bolton": 25,
        "Middlesbrough": 31
    },
    "69": {
        "Southampton": 39,
        "Leeds": 34,
        "Man United": 54,
        "Everton": 45,
        "Charlton": 42,
        "Blackburn": 37,
        "Fulham": 33,
        "Arsenal": 57,
        "Aston Villa": 35,
        "Newcastle": 49,
        "Chelsea": 48,
        "West Brom": 21,
        "West Ham": 20,
        "Sunderland": 19,
        "Tottenham": 42,
        "Man City": 38,
        "Birmingham": 26,
        "Liverpool": 43,
        "Bolton": 25,
        "Middlesbrough": 31
    },
    "70": {
        "Southampton": 39,
        "Leeds": 34,
        "Man United": 55,
        "Everton": 48,
        "Charlton": 45,
        "Blackburn": 40,
        "Fulham": 33,
        "Arsenal": 60,
        "Aston Villa": 35,
        "Newcastle": 52,
        "Chelsea": 48,
        "West Brom": 21,
        "West Ham": 20,
        "Sunderland": 19,
        "Tottenham": 42,
        "Man City": 38,
        "Birmingham": 26,
        "Liverpool": 43,
        "Bolton": 26,
        "Middlesbrough": 34
    },
    "71": {
        "Southampton": 39,
        "Leeds": 34,
        "Man United": 55,
        "Everton": 48,
        "Charlton": 45,
        "Blackburn": 40,
        "Fulham": 33,
        "Arsenal": 60,
        "Aston Villa": 35,
        "Newcastle": 52,
        "Chelsea": 48,
        "West Brom": 21,
        "West Ham": 23,
        "Sunderland": 19,
        "Tottenham": 42,
        "Man City": 38,
        "Birmingham": 29,
        "Liverpool": 43,
        "Bolton": 26,
        "Middlesbrough": 34
    },
    "72": {
        "Southampton": 39,
        "Leeds": 34,
        "Man United": 55,
        "Everton": 48,
        "Charlton": 45,
        "Blackburn": 40,
        "Fulham": 34,
        "Arsenal": 60,
        "Aston Villa": 35,
        "Newcastle": 52,
        "Chelsea": 48,
        "West Brom": 21,
        "West Ham": 23,
        "Sunderland": 19,
        "Tottenham": 43,
        "Man City": 38,
        "Birmingham": 29,
        "Liverpool": 43,
        "Bolton": 26,
        "Middlesbrough": 34
    },
    "73": {
        "Southampton": 42,
        "Leeds": 34,
        "Man United": 55,
        "Everton": 49,
        "Charlton": 45,
        "Blackburn": 43,
        "Fulham": 37,
        "Arsenal": 60,
        "Aston Villa": 35,
        "Newcastle": 55,
        "Chelsea": 48,
        "West Brom": 21,
        "West Ham": 26,
        "Sunderland": 19,
        "Tottenham": 43,
        "Man City": 38,
        "Birmingham": 29,
        "Liverpool": 43,
        "Bolton": 26,
        "Middlesbrough": 35
    },
    "74": {
        "Southampton": 42,
        "Leeds": 34,
        "Man United": 55,
        "Everton": 49,
        "Charlton": 45,
        "Blackburn": 43,
        "Fulham": 37,
        "Arsenal": 63,
        "Aston Villa": 35,
        "Newcastle": 55,
        "Chelsea": 48,
        "West Brom": 21,
        "West Ham": 26,
        "Sunderland": 19,
        "Tottenham": 43,
        "Man City": 38,
        "Birmingham": 29,
        "Liverpool": 43,
        "Bolton": 26,
        "Middlesbrough": 35
    },
    "75": {
        "Southampton": 42,
        "Leeds": 34,
        "Man United": 55,
        "Everton": 49,
        "Charlton": 45,
        "Blackburn": 43,
        "Fulham": 37,
        "Arsenal": 63,
        "Aston Villa": 35,
        "Newcastle": 55,
        "Chelsea": 48,
        "West Brom": 21,
        "West Ham": 26,
        "Sunderland": 19,
        "Tottenham": 43,
        "Man City": 38,
        "Birmingham": 32,
        "Liverpool": 43,
        "Bolton": 26,
        "Middlesbrough": 35
    },
    "76": {
        "Southampton": 42,
        "Leeds": 34,
        "Man United": 58,
        "Everton": 49,
        "Charlton": 45,
        "Blackburn": 43,
        "Fulham": 37,
        "Arsenal": 63,
        "Aston Villa": 35,
        "Newcastle": 55,
        "Chelsea": 48,
        "West Brom": 21,
        "West Ham": 26,
        "Sunderland": 19,
        "Tottenham": 43,
        "Man City": 38,
        "Birmingham": 32,
        "Liverpool": 43,
        "Bolton": 26,
        "Middlesbrough": 38
    },
    "77": {
        "Southampton": 42,
        "Leeds": 34,
        "Man United": 58,
        "Everton": 49,
        "Charlton": 45,
        "Blackburn": 43,
        "Fulham": 37,
        "Arsenal": 63,
        "Aston Villa": 35,
        "Newcastle": 55,
        "Chelsea": 48,
        "West Brom": 21,
        "West Ham": 26,
        "Sunderland": 19,
        "Tottenham": 43,
        "Man City": 38,
        "Birmingham": 32,
        "Liverpool": 46,
        "Bolton": 26,
        "Middlesbrough": 38
    },
    "78": {
        "Southampton": 43,
        "Leeds": 34,
        "Man United": 61,
        "Everton": 50,
        "Charlton": 45,
        "Blackburn": 46,
        "Fulham": 38,
        "Arsenal": 63,
        "Aston Villa": 35,
        "Newcastle": 58,
        "Chelsea": 48,
        "West Brom": 21,
        "West Ham": 27,
        "Sunderland": 19,
        "Tottenham": 43,
        "Man City": 38,
        "Birmingham": 32,
        "Liverpool": 46,
        "Bolton": 29,
        "Middlesbrough": 41
    },
    "79": {
        "Southampton": 43,
        "Leeds": 34,
        "Man United": 61,
        "Everton": 50,
        "Charlton": 45,
        "Blackburn": 46,
        "Fulham": 38,
        "Arsenal": 63,
        "Aston Villa": 35,
        "Newcastle": 58,
        "Chelsea": 51,
        "West Brom": 21,
        "West Ham": 27,
        "Sunderland": 19,
        "Tottenham": 43,
        "Man City": 41,
        "Birmingham": 32,
        "Liverpool": 49,
        "Bolton": 29,
        "Middlesbrough": 41
    },
    "80": {
        "Southampton": 44,
        "Leeds": 34,
        "Man United": 64,
        "Everton": 50,
        "Charlton": 46,
        "Blackburn": 46,
        "Fulham": 38,
        "Arsenal": 63,
        "Aston Villa": 36,
        "Newcastle": 61,
        "Chelsea": 54,
        "West Brom": 21,
        "West Ham": 30,
        "Sunderland": 19,
        "Tottenham": 43,
        "Man City": 41,
        "Birmingham": 35,
        "Liverpool": 49,
        "Bolton": 29,
        "Middlesbrough": 42
    },
    "81": {
        "Southampton": 44,
        "Leeds": 34,
        "Man United": 64,
        "Everton": 50,
        "Charlton": 46,
        "Blackburn": 46,
        "Fulham": 38,
        "Arsenal": 66,
        "Aston Villa": 36,
        "Newcastle": 61,
        "Chelsea": 54,
        "West Brom": 21,
        "West Ham": 30,
        "Sunderland": 19,
        "Tottenham": 43,
        "Man City": 41,
        "Birmingham": 35,
        "Liverpool": 52,
        "Bolton": 29,
        "Middlesbrough": 42
    },
    "82": {
        "Southampton": 44,
        "Leeds": 34,
        "Man United": 64,
        "Everton": 50,
        "Charlton": 46,
        "Blackburn": 46,
        "Fulham": 38,
        "Arsenal": 66,
        "Aston Villa": 36,
        "Newcastle": 61,
        "Chelsea": 54,
        "West Brom": 21,
        "West Ham": 30,
        "Sunderland": 19,
        "Tottenham": 43,
        "Man City": 41,
        "Birmingham": 35,
        "Liverpool": 52,
        "Bolton": 32,
        "Middlesbrough": 42
    },
    "83": {
        "Southampton": 45,
        "Leeds": 37,
        "Man United": 67,
        "Everton": 50,
        "Charlton": 46,
        "Blackburn": 46,
        "Fulham": 38,
        "Arsenal": 67,
        "Aston Villa": 37,
        "Newcastle": 61,
        "Chelsea": 57,
        "West Brom": 21,
        "West Ham": 31,
        "Sunderland": 19,
        "Tottenham": 46,
        "Man City": 41,
        "Birmingham": 35,
        "Liverpool": 52,
        "Bolton": 35,
        "Middlesbrough": 45
    },
    "84": {
        "Southampton": 45,
        "Leeds": 37,
        "Man United": 67,
        "Everton": 53,
        "Charlton": 46,
        "Blackburn": 46,
        "Fulham": 38,
        "Arsenal": 67,
        "Aston Villa": 37,
        "Newcastle": 61,
        "Chelsea": 57,
        "West Brom": 21,
        "West Ham": 31,
        "Sunderland": 19,
        "Tottenham": 46,
        "Man City": 41,
        "Birmingham": 35,
        "Liverpool": 52,
        "Bolton": 35,
        "Middlesbrough": 45
    },
    "85": {
        "Southampton": 45,
        "Leeds": 37,
        "Man United": 67,
        "Everton": 53,
        "Charlton": 46,
        "Blackburn": 49,
        "Fulham": 38,
        "Arsenal": 67,
        "Aston Villa": 37,
        "Newcastle": 61,
        "Chelsea": 57,
        "West Brom": 21,
        "West Ham": 31,
        "Sunderland": 19,
        "Tottenham": 46,
        "Man City": 41,
        "Birmingham": 35,
        "Liverpool": 52,
        "Bolton": 35,
        "Middlesbrough": 45
    },
    "86": {
        "Southampton": 45,
        "Leeds": 38,
        "Man United": 70,
        "Everton": 56,
        "Charlton": 46,
        "Blackburn": 52,
        "Fulham": 38,
        "Arsenal": 67,
        "Aston Villa": 38,
        "Newcastle": 61,
        "Chelsea": 60,
        "West Brom": 21,
        "West Ham": 32,
        "Sunderland": 19,
        "Tottenham": 47,
        "Man City": 42,
        "Birmingham": 38,
        "Liverpool": 55,
        "Bolton": 35,
        "Middlesbrough": 46
    },
    "87": {
        "Southampton": 45,
        "Leeds": 38,
        "Man United": 71,
        "Everton": 56,
        "Charlton": 46,
        "Blackburn": 52,
        "Fulham": 38,
        "Arsenal": 68,
        "Aston Villa": 38,
        "Newcastle": 61,
        "Chelsea": 60,
        "West Brom": 21,
        "West Ham": 32,
        "Sunderland": 19,
        "Tottenham": 47,
        "Man City": 42,
        "Birmingham": 38,
        "Liverpool": 55,
        "Bolton": 35,
        "Middlesbrough": 46
    },
    "88": {
        "Southampton": 45,
        "Leeds": 38,
        "Man United": 71,
        "Everton": 56,
        "Charlton": 46,
        "Blackburn": 52,
        "Fulham": 38,
        "Arsenal": 68,
        "Aston Villa": 38,
        "Newcastle": 61,
        "Chelsea": 60,
        "West Brom": 21,
        "West Ham": 32,
        "Sunderland": 19,
        "Tottenham": 47,
        "Man City": 45,
        "Birmingham": 38,
        "Liverpool": 55,
        "Bolton": 35,
        "Middlesbrough": 46
    },
    "89": {
        "Southampton": 48,
        "Leeds": 38,
        "Man United": 74,
        "Everton": 56,
        "Charlton": 46,
        "Blackburn": 52,
        "Fulham": 41,
        "Arsenal": 71,
        "Aston Villa": 41,
        "Newcastle": 61,
        "Chelsea": 60,
        "West Brom": 24,
        "West Ham": 32,
        "Sunderland": 19,
        "Tottenham": 47,
        "Man City": 45,
        "Birmingham": 41,
        "Liverpool": 58,
        "Bolton": 38,
        "Middlesbrough": 46
    },
    "90": {
        "Southampton": 48,
        "Leeds": 38,
        "Man United": 74,
        "Everton": 56,
        "Charlton": 46,
        "Blackburn": 53,
        "Fulham": 41,
        "Arsenal": 71,
        "Aston Villa": 42,
        "Newcastle": 62,
        "Chelsea": 63,
        "West Brom": 24,
        "West Ham": 35,
        "Sunderland": 19,
        "Tottenham": 50,
        "Man City": 48,
        "Birmingham": 44,
        "Liverpool": 61,
        "Bolton": 39,
        "Middlesbrough": 46
    },
    "91": {
        "Southampton": 48,
        "Leeds": 41,
        "Man United": 74,
        "Everton": 56,
        "Charlton": 46,
        "Blackburn": 53,
        "Fulham": 41,
        "Arsenal": 71,
        "Aston Villa": 42,
        "Newcastle": 62,
        "Chelsea": 63,
        "West Brom": 24,
        "West Ham": 35,
        "Sunderland": 19,
        "Tottenham": 50,
        "Man City": 48,
        "Birmingham": 44,
        "Liverpool": 61,
        "Bolton": 39,
        "Middlesbrough": 46
    },
    "92": {
        "Southampton": 48,
        "Leeds": 41,
        "Man United": 74,
        "Everton": 59,
        "Charlton": 49,
        "Blackburn": 56,
        "Fulham": 42,
        "Arsenal": 72,
        "Aston Villa": 42,
        "Newcastle": 65,
        "Chelsea": 64,
        "West Brom": 24,
        "West Ham": 35,
        "Sunderland": 19,
        "Tottenham": 50,
        "Man City": 48,
        "Birmingham": 47,
        "Liverpool": 64,
        "Bolton": 40,
        "Middlesbrough": 46
    },
    "93": {
        "Southampton": 48,
        "Leeds": 41,
        "Man United": 77,
        "Everton": 59,
        "Charlton": 49,
        "Blackburn": 56,
        "Fulham": 42,
        "Arsenal": 72,
        "Aston Villa": 42,
        "Newcastle": 65,
        "Chelsea": 64,
        "West Brom": 24,
        "West Ham": 38,
        "Sunderland": 19,
        "Tottenham": 50,
        "Man City": 48,
        "Birmingham": 47,
        "Liverpool": 64,
        "Bolton": 40,
        "Middlesbrough": 46
    },
    "94": {
        "Southampton": 49,
        "Leeds": 41,
        "Man United": 80,
        "Everton": 59,
        "Charlton": 49,
        "Blackburn": 57,
        "Fulham": 45,
        "Arsenal": 72,
        "Aston Villa": 45,
        "Newcastle": 68,
        "Chelsea": 64,
        "West Brom": 25,
        "West Ham": 41,
        "Sunderland": 19,
        "Tottenham": 50,
        "Man City": 51,
        "Birmingham": 47,
        "Liverpool": 64,
        "Bolton": 41,
        "Middlesbrough": 49
    },
    "95": {
        "Southampton": 49,
        "Leeds": 44,
        "Man United": 80,
        "Everton": 59,
        "Charlton": 49,
        "Blackburn": 57,
        "Fulham": 45,
        "Arsenal": 72,
        "Aston Villa": 45,
        "Newcastle": 68,
        "Chelsea": 64,
        "West Brom": 25,
        "West Ham": 41,
        "Sunderland": 19,
        "Tottenham": 50,
        "Man City": 51,
        "Birmingham": 47,
        "Liverpool": 64,
        "Bolton": 41,
        "Middlesbrough": 49
    },
    "96": {
        "Southampton": 49,
        "Leeds": 44,
        "Man United": 80,
        "Everton": 59,
        "Charlton": 49,
        "Blackburn": 57,
        "Fulham": 45,
        "Arsenal": 75,
        "Aston Villa": 45,
        "Newcastle": 68,
        "Chelsea": 64,
        "West Brom": 25,
        "West Ham": 41,
        "Sunderland": 19,
        "Tottenham": 50,
        "Man City": 51,
        "Birmingham": 47,
        "Liverpool": 64,
        "Bolton": 41,
        "Middlesbrough": 49
    },
    "97": {
        "Southampton": 52,
        "Leeds": 47,
        "Man United": 83,
        "Everton": 59,
        "Charlton": 49,
        "Blackburn": 60,
        "Fulham": 48,
        "Arsenal": 78,
        "Aston Villa": 45,
        "Newcastle": 69,
        "Chelsea": 67,
        "West Brom": 26,
        "West Ham": 42,
        "Sunderland": 19,
        "Tottenham": 50,
        "Man City": 51,
        "Birmingham": 48,
        "Liverpool": 64,
        "Bolton": 44,
        "Middlesbrough": 49
    }
  };
  
  
  // Create root element
  // https://www.amcharts.com/docs/v5/getting-started/#Root_element
  var root = am5.Root.new("chartdiv");
  
  root.numberFormatter.setAll({
    numberFormat: "#a",
  
    // Group only into M (millions), and B (billions)
    bigNumberPrefixes: [
      { number: 1e6, suffix: "M" },
      { number: 1e9, suffix: "B" }
    ],
  
    // Do not use small number prefixes at all
    smallNumberPrefixes: []
  });
  
  var stepDuration = 500;
  
  
  // Set themes
  // https://www.amcharts.com/docs/v5/concepts/themes/
  root.setThemes([am5themes_Animated.new(root)]);
  
  
  // Create chart
  // https://www.amcharts.com/docs/v5/charts/xy-chart/
  var chart = root.container.children.push(am5xy.XYChart.new(root, {
    panX: true,
    panY: true,
    wheelX: "none",
    wheelY: "none"
  }));
  
  
  // We don't want zoom-out button to appear while animating, so we hide it at all
  chart.zoomOutButton.set("forceHidden", true);
  
  
  // Create axes
  // https://www.amcharts.com/docs/v5/charts/xy-chart/axes/
  var yRenderer = am5xy.AxisRendererY.new(root, {
    minGridDistance: 20,
    inversed: true
  });
  // hide grid
  yRenderer.grid.template.set("visible", false);
  
  var yAxis = chart.yAxes.push(am5xy.CategoryAxis.new(root, {
    maxDeviation: 0,
    categoryField: "network",
    renderer: yRenderer
  }));
  
  var xAxis = chart.xAxes.push(am5xy.ValueAxis.new(root, {
    maxDeviation: 0,
    min: 0,
    strictMinMax: true,
    extraMax: 0.1,
    renderer: am5xy.AxisRendererX.new(root, {})
  }));
  
  xAxis.set("interpolationDuration", stepDuration / 10);
  xAxis.set("interpolationEasing", am5.ease.linear);
  
  
  // Add series
  // https://www.amcharts.com/docs/v5/charts/xy-chart/series/
  var series = chart.series.push(am5xy.ColumnSeries.new(root, {
    xAxis: xAxis,
    yAxis: yAxis,
    valueXField: "value",
    categoryYField: "network"
  }));
  
  // Rounded corners for columns
  series.columns.template.setAll({ cornerRadiusBR: 5, cornerRadiusTR: 5 });
  
  // Make each column to be of a different color
  series.columns.template.adapters.add("fill", function (fill, target) {
    return chart.get("colors").getIndex(series.columns.indexOf(target));
  });
  
  series.columns.template.adapters.add("stroke", function (stroke, target) {
    return chart.get("colors").getIndex(series.columns.indexOf(target));
  });
  
  // Add label bullet
  series.bullets.push(function () {
    return am5.Bullet.new(root, {
      locationX: 1,
      sprite: am5.Label.new(root, {
        text: "{valueXWorking.formatNumber('#.# a')}",
        fill: root.interfaceColors.get("alternativeText"),
        centerX: am5.p100,
        centerY: am5.p50,
        populateText: true
      })
    });
  });
  
  var label = chart.plotContainer.children.push(am5.Label.new(root, {
    text: "DAY 1",
    fontSize: "8em",
    opacity: 0.2,
    x: am5.p100,
    y: am5.p100,
    centerY: am5.p100,
    centerX: am5.p100
  }));
  
  // Get series item by category
  function getSeriesItem(category) {
    for (var i = 0; i < series.dataItems.length; i++) {
      var dataItem = series.dataItems[i];
      if (dataItem.get("categoryY") == category) {
        return dataItem;
      }
    }
  }
  
  // Axis sorting
  function sortCategoryAxis() {
    // sort by value
    series.dataItems.sort(function (x, y) {
      return y.get("valueX") - x.get("valueX"); // descending
      //return x.get("valueX") - y.get("valueX"); // ascending
    });
  
    // go through each axis item
    am5.array.each(yAxis.dataItems, function (dataItem) {
      // get corresponding series item
      var seriesDataItem = getSeriesItem(dataItem.get("category"));
  
      if (seriesDataItem) {
        // get index of series data item
        var index = series.dataItems.indexOf(seriesDataItem);
        // calculate delta position
        var deltaPosition =
          (index - dataItem.get("index", 0)) / series.dataItems.length;
        // set index to be the same as series data item index
        if (dataItem.get("index") != index) {
          dataItem.set("index", index);
          // set deltaPosition instanlty
          dataItem.set("deltaPosition", -deltaPosition);
          // animate delta position to 0
          dataItem.animate({
            key: "deltaPosition",
            to: 0,
            duration: stepDuration / 2,
            easing: am5.ease.out(am5.ease.cubic)
          });
        }
      }
    });
    // sort axis items by index.
    // This changes the order instantly, but as deltaPosition is set, they keep in the same places and then animate to true positions.
    yAxis.dataItems.sort(function (x, y) {
      return x.get("index") - y.get("index");
    });
  }
  
  var year = 1;
  
  // update data with values each 1.5 sec
  var interval = setInterval(function () {
    year++;
  
    if (year > 97) {
      clearInterval(interval);
      clearInterval(sortInterval);
    }
  
    updateData();
  }, stepDuration);
  
  var sortInterval = setInterval(function () {
    sortCategoryAxis();
  }, 100);
  
  function setInitialData() {
    var d = allData[year];
  
    for (var n in d) {
      series.data.push({ network: n, value: d[n] });
      yAxis.data.push({ network: n });
    }
  }
  
  function updateData() {
    var itemsWithNonZero = 0;
  
    if (allData[year]) {
      var labelText = "DAY" + year.toString(); // 在年份前面加上"DAY"
      label.set("text", labelText);
  
      am5.array.each(series.dataItems, function (dataItem) {
        var category = dataItem.get("categoryY");
        var value = allData[year][category];


        
  
        if (value > 0) {
          itemsWithNonZero++;
        }
  
        dataItem.animate({
          key: "valueX",
          to: value,
          duration: stepDuration,
          easing: am5.ease.linear
        });
        dataItem.animate({
          key: "valueXWorking",
          to: value,
          duration: stepDuration,
          easing: am5.ease.linear
        });
      });
  
      yAxis.zoom(0, itemsWithNonZero / yAxis.dataItems.length);
    }
  }
  
  setInitialData();
  setTimeout(function () {
    year++;
    updateData();
  }, 50);
  
  // Make stuff animate on load
  // https://www.amcharts.com/docs/v5/concepts/animations/
  series.appear(1000);
  chart.appear(1000, 100);
  
  }); // end am5.ready()
  </script>
  
  <!-- HTML -->
  <h2 style="text-align:center">02-03赛季</h2>
  <div id="chartdiv"></div>