<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>radier</title>
</head>
<body style="background-color:#1b1b1b">
    {% load static %}

<!-- 显示图片 -->
    <div>
        <img src="{% static 'attacking.png' %}" alt="Attacking Radar" style="width:33%">
        <img src="{% static 'defending.png' %}" alt="Defending Radar" style="width:33%">
        <img src="{% static 'passing.png' %}" alt="Passing Radar" style="width:33%">
    </div>

    <h2 style="text-align: 'center'; color:#ffffff">{{name}} 与 {{rival}}雷达图对比</h2>

</body>
</html>