<!-- Styles -->
<style>
    #chartdiv {
      width: 100%;
      height: 500px;
    }
    </style>
    
    <!-- Resources -->
    <script src="https://cdn.amcharts.com/lib/5/index.js"></script>
    <script src="https://cdn.amcharts.com/lib/5/xy.js"></script>
    <script src="https://cdn.amcharts.com/lib/5/themes/Animated.js"></script>
    
    <!-- Chart code -->
    <script>
    am5.ready(function() {
    
    // Data
    var allData = {
        "1": {
        "Arsenal": 0,
        "Liverpool": 3,
        "Norwich": 1,
        "Sunderland": 0,
        "Swansea": 0,
        "West Brom": 0,
        "West Ham": 3,
        "Crystal Palace": 0,
        "Chelsea": 0,
        "Man City": 0,
        "Aston Villa": 3,
        "Everton": 1,
        "Fulham": 3,
        "Hull": 0,
        "Newcastle": 0,
        "Southampton": 3,
        "Stoke": 0,
        "Tottenham": 0,
        "Cardiff": 0,
        "Man United": 3
    },
    "2": {
        "Arsenal": 0,
        "Liverpool": 3,
        "Norwich": 1,
        "Sunderland": 0,
        "Swansea": 0,
        "West Brom": 0,
        "West Ham": 3,
        "Crystal Palace": 0,
        "Chelsea": 3,
        "Man City": 0,
        "Aston Villa": 3,
        "Everton": 1,
        "Fulham": 3,
        "Hull": 0,
        "Newcastle": 0,
        "Southampton": 3,
        "Stoke": 0,
        "Tottenham": 3,
        "Cardiff": 0,
        "Man United": 3
    },
    "3": {
        "Arsenal": 0,
        "Liverpool": 3,
        "Norwich": 1,
        "Sunderland": 0,
        "Swansea": 0,
        "West Brom": 0,
        "West Ham": 3,
        "Crystal Palace": 0,
        "Chelsea": 3,
        "Man City": 3,
        "Aston Villa": 3,
        "Everton": 1,
        "Fulham": 3,
        "Hull": 0,
        "Newcastle": 0,
        "Southampton": 3,
        "Stoke": 0,
        "Tottenham": 3,
        "Cardiff": 0,
        "Man United": 3
    },
    "4": {
        "Arsenal": 0,
        "Liverpool": 3,
        "Norwich": 1,
        "Sunderland": 0,
        "Swansea": 0,
        "West Brom": 0,
        "West Ham": 3,
        "Crystal Palace": 0,
        "Chelsea": 6,
        "Man City": 3,
        "Aston Villa": 3,
        "Everton": 1,
        "Fulham": 3,
        "Hull": 0,
        "Newcastle": 0,
        "Southampton": 3,
        "Stoke": 0,
        "Tottenham": 3,
        "Cardiff": 0,
        "Man United": 3
    },
    "5": {
        "Arsenal": 3,
        "Liverpool": 6,
        "Norwich": 1,
        "Sunderland": 1,
        "Swansea": 0,
        "West Brom": 1,
        "West Ham": 4,
        "Crystal Palace": 0,
        "Chelsea": 6,
        "Man City": 3,
        "Aston Villa": 3,
        "Everton": 2,
        "Fulham": 3,
        "Hull": 3,
        "Newcastle": 1,
        "Southampton": 4,
        "Stoke": 3,
        "Tottenham": 3,
        "Cardiff": 0,
        "Man United": 3
    },
    "6": {
        "Arsenal": 3,
        "Liverpool": 6,
        "Norwich": 1,
        "Sunderland": 1,
        "Swansea": 0,
        "West Brom": 1,
        "West Ham": 4,
        "Crystal Palace": 0,
        "Chelsea": 6,
        "Man City": 3,
        "Aston Villa": 3,
        "Everton": 2,
        "Fulham": 3,
        "Hull": 3,
        "Newcastle": 1,
        "Southampton": 4,
        "Stoke": 3,
        "Tottenham": 6,
        "Cardiff": 3,
        "Man United": 3
    },
    "7": {
        "Arsenal": 3,
        "Liverpool": 6,
        "Norwich": 1,
        "Sunderland": 1,
        "Swansea": 0,
        "West Brom": 1,
        "West Ham": 4,
        "Crystal Palace": 0,
        "Chelsea": 7,
        "Man City": 3,
        "Aston Villa": 3,
        "Everton": 2,
        "Fulham": 3,
        "Hull": 3,
        "Newcastle": 1,
        "Southampton": 4,
        "Stoke": 3,
        "Tottenham": 6,
        "Cardiff": 3,
        "Man United": 4
    },
    "8": {
        "Arsenal": 3,
        "Liverpool": 6,
        "Norwich": 4,
        "Sunderland": 1,
        "Swansea": 0,
        "West Brom": 1,
        "West Ham": 4,
        "Crystal Palace": 3,
        "Chelsea": 7,
        "Man City": 6,
        "Aston Villa": 3,
        "Everton": 3,
        "Fulham": 3,
        "Hull": 3,
        "Newcastle": 4,
        "Southampton": 4,
        "Stoke": 6,
        "Tottenham": 6,
        "Cardiff": 4,
        "Man United": 4
    },
    "9": {
        "Arsenal": 6,
        "Liverpool": 9,
        "Norwich": 4,
        "Sunderland": 1,
        "Swansea": 3,
        "West Brom": 1,
        "West Ham": 4,
        "Crystal Palace": 3,
        "Chelsea": 7,
        "Man City": 6,
        "Aston Villa": 3,
        "Everton": 3,
        "Fulham": 3,
        "Hull": 3,
        "Newcastle": 4,
        "Southampton": 4,
        "Stoke": 6,
        "Tottenham": 6,
        "Cardiff": 4,
        "Man United": 4
    },
    "10": {
        "Arsenal": 9,
        "Liverpool": 9,
        "Norwich": 4,
        "Sunderland": 1,
        "Swansea": 3,
        "West Brom": 2,
        "West Ham": 4,
        "Crystal Palace": 3,
        "Chelsea": 7,
        "Man City": 7,
        "Aston Villa": 3,
        "Everton": 6,
        "Fulham": 4,
        "Hull": 4,
        "Newcastle": 7,
        "Southampton": 4,
        "Stoke": 7,
        "Tottenham": 9,
        "Cardiff": 5,
        "Man United": 7
    },
    "11": {
        "Arsenal": 9,
        "Liverpool": 9,
        "Norwich": 4,
        "Sunderland": 1,
        "Swansea": 3,
        "West Brom": 2,
        "West Ham": 5,
        "Crystal Palace": 3,
        "Chelsea": 7,
        "Man City": 7,
        "Aston Villa": 3,
        "Everton": 6,
        "Fulham": 4,
        "Hull": 4,
        "Newcastle": 7,
        "Southampton": 5,
        "Stoke": 7,
        "Tottenham": 9,
        "Cardiff": 5,
        "Man United": 7
    },
    "12": {
        "Arsenal": 9,
        "Liverpool": 10,
        "Norwich": 4,
        "Sunderland": 1,
        "Swansea": 4,
        "West Brom": 2,
        "West Ham": 5,
        "Crystal Palace": 3,
        "Chelsea": 7,
        "Man City": 7,
        "Aston Villa": 3,
        "Everton": 6,
        "Fulham": 4,
        "Hull": 4,
        "Newcastle": 7,
        "Southampton": 5,
        "Stoke": 7,
        "Tottenham": 9,
        "Cardiff": 5,
        "Man United": 7
    },
    "13": {
        "Arsenal": 9,
        "Liverpool": 10,
        "Norwich": 4,
        "Sunderland": 1,
        "Swansea": 4,
        "West Brom": 5,
        "West Ham": 5,
        "Crystal Palace": 3,
        "Chelsea": 10,
        "Man City": 7,
        "Aston Villa": 6,
        "Everton": 9,
        "Fulham": 4,
        "Hull": 7,
        "Newcastle": 7,
        "Southampton": 8,
        "Stoke": 7,
        "Tottenham": 9,
        "Cardiff": 5,
        "Man United": 7
    },
    "14": {
        "Arsenal": 12,
        "Liverpool": 10,
        "Norwich": 4,
        "Sunderland": 1,
        "Swansea": 7,
        "West Brom": 5,
        "West Ham": 5,
        "Crystal Palace": 3,
        "Chelsea": 10,
        "Man City": 10,
        "Aston Villa": 6,
        "Everton": 9,
        "Fulham": 4,
        "Hull": 7,
        "Newcastle": 7,
        "Southampton": 8,
        "Stoke": 7,
        "Tottenham": 12,
        "Cardiff": 5,
        "Man United": 7
    },
    "15": {
        "Arsenal": 15,
        "Liverpool": 10,
        "Norwich": 4,
        "Sunderland": 1,
        "Swansea": 7,
        "West Brom": 8,
        "West Ham": 5,
        "Crystal Palace": 3,
        "Chelsea": 11,
        "Man City": 10,
        "Aston Villa": 9,
        "Everton": 9,
        "Fulham": 4,
        "Hull": 10,
        "Newcastle": 7,
        "Southampton": 11,
        "Stoke": 7,
        "Tottenham": 13,
        "Cardiff": 8,
        "Man United": 7
    },
    "16": {
        "Arsenal": 15,
        "Liverpool": 13,
        "Norwich": 7,
        "Sunderland": 1,
        "Swansea": 7,
        "West Brom": 8,
        "West Ham": 5,
        "Crystal Palace": 3,
        "Chelsea": 11,
        "Man City": 10,
        "Aston Villa": 9,
        "Everton": 9,
        "Fulham": 4,
        "Hull": 10,
        "Newcastle": 7,
        "Southampton": 11,
        "Stoke": 7,
        "Tottenham": 13,
        "Cardiff": 8,
        "Man United": 7
    },
    "17": {
        "Arsenal": 15,
        "Liverpool": 13,
        "Norwich": 7,
        "Sunderland": 1,
        "Swansea": 7,
        "West Brom": 8,
        "West Ham": 5,
        "Crystal Palace": 3,
        "Chelsea": 11,
        "Man City": 10,
        "Aston Villa": 9,
        "Everton": 12,
        "Fulham": 4,
        "Hull": 10,
        "Newcastle": 7,
        "Southampton": 11,
        "Stoke": 7,
        "Tottenham": 13,
        "Cardiff": 8,
        "Man United": 7
    },
    "18": {
        "Arsenal": 15,
        "Liverpool": 16,
        "Norwich": 7,
        "Sunderland": 1,
        "Swansea": 7,
        "West Brom": 8,
        "West Ham": 5,
        "Crystal Palace": 3,
        "Chelsea": 11,
        "Man City": 13,
        "Aston Villa": 10,
        "Everton": 12,
        "Fulham": 7,
        "Hull": 11,
        "Newcastle": 10,
        "Southampton": 11,
        "Stoke": 7,
        "Tottenham": 13,
        "Cardiff": 8,
        "Man United": 10
    },
    "19": {
        "Arsenal": 16,
        "Liverpool": 16,
        "Norwich": 7,
        "Sunderland": 1,
        "Swansea": 7,
        "West Brom": 9,
        "West Ham": 8,
        "Crystal Palace": 3,
        "Chelsea": 14,
        "Man City": 13,
        "Aston Villa": 10,
        "Everton": 12,
        "Fulham": 7,
        "Hull": 11,
        "Newcastle": 10,
        "Southampton": 14,
        "Stoke": 7,
        "Tottenham": 13,
        "Cardiff": 8,
        "Man United": 10
    },
    "20": {
        "Arsenal": 19,
        "Liverpool": 17,
        "Norwich": 7,
        "Sunderland": 1,
        "Swansea": 10,
        "West Brom": 10,
        "West Ham": 8,
        "Crystal Palace": 3,
        "Chelsea": 17,
        "Man City": 16,
        "Aston Villa": 10,
        "Everton": 15,
        "Fulham": 7,
        "Hull": 11,
        "Newcastle": 11,
        "Southampton": 15,
        "Stoke": 8,
        "Tottenham": 13,
        "Cardiff": 8,
        "Man United": 11
    },
    "21": {
        "Arsenal": 19,
        "Liverpool": 17,
        "Norwich": 7,
        "Sunderland": 1,
        "Swansea": 10,
        "West Brom": 10,
        "West Ham": 8,
        "Crystal Palace": 3,
        "Chelsea": 17,
        "Man City": 16,
        "Aston Villa": 10,
        "Everton": 15,
        "Fulham": 7,
        "Hull": 11,
        "Newcastle": 11,
        "Southampton": 15,
        "Stoke": 8,
        "Tottenham": 16,
        "Cardiff": 8,
        "Man United": 11
    },
    "22": {
        "Arsenal": 19,
        "Liverpool": 17,
        "Norwich": 7,
        "Sunderland": 1,
        "Swansea": 10,
        "West Brom": 10,
        "West Ham": 8,
        "Crystal Palace": 3,
        "Chelsea": 17,
        "Man City": 16,
        "Aston Villa": 10,
        "Everton": 15,
        "Fulham": 10,
        "Hull": 11,
        "Newcastle": 11,
        "Southampton": 15,
        "Stoke": 8,
        "Tottenham": 16,
        "Cardiff": 8,
        "Man United": 11
    },
    "23": {
        "Arsenal": 22,
        "Liverpool": 20,
        "Norwich": 8,
        "Sunderland": 1,
        "Swansea": 10,
        "West Brom": 10,
        "West Ham": 8,
        "Crystal Palace": 3,
        "Chelsea": 17,
        "Man City": 16,
        "Aston Villa": 10,
        "Everton": 18,
        "Fulham": 10,
        "Hull": 11,
        "Newcastle": 11,
        "Southampton": 18,
        "Stoke": 8,
        "Tottenham": 16,
        "Cardiff": 9,
        "Man United": 14
    },
    "24": {
        "Arsenal": 22,
        "Liverpool": 20,
        "Norwich": 8,
        "Sunderland": 4,
        "Swansea": 11,
        "West Brom": 10,
        "West Ham": 9,
        "Crystal Palace": 3,
        "Chelsea": 20,
        "Man City": 16,
        "Aston Villa": 10,
        "Everton": 18,
        "Fulham": 10,
        "Hull": 11,
        "Newcastle": 11,
        "Southampton": 18,
        "Stoke": 8,
        "Tottenham": 19,
        "Cardiff": 9,
        "Man United": 14
    },
    "25": {
        "Arsenal": 25,
        "Liverpool": 20,
        "Norwich": 8,
        "Sunderland": 4,
        "Swansea": 11,
        "West Brom": 13,
        "West Ham": 10,
        "Crystal Palace": 3,
        "Chelsea": 20,
        "Man City": 19,
        "Aston Villa": 11,
        "Everton": 18,
        "Fulham": 10,
        "Hull": 14,
        "Newcastle": 14,
        "Southampton": 19,
        "Stoke": 9,
        "Tottenham": 19,
        "Cardiff": 9,
        "Man United": 17
    },
    "26": {
        "Arsenal": 25,
        "Liverpool": 20,
        "Norwich": 8,
        "Sunderland": 4,
        "Swansea": 11,
        "West Brom": 13,
        "West Ham": 10,
        "Crystal Palace": 3,
        "Chelsea": 20,
        "Man City": 19,
        "Aston Villa": 11,
        "Everton": 19,
        "Fulham": 10,
        "Hull": 14,
        "Newcastle": 14,
        "Southampton": 19,
        "Stoke": 9,
        "Tottenham": 20,
        "Cardiff": 12,
        "Man United": 17
    },
    "27": {
        "Arsenal": 25,
        "Liverpool": 23,
        "Norwich": 11,
        "Sunderland": 4,
        "Swansea": 11,
        "West Brom": 14,
        "West Ham": 10,
        "Crystal Palace": 4,
        "Chelsea": 21,
        "Man City": 19,
        "Aston Villa": 14,
        "Everton": 20,
        "Fulham": 10,
        "Hull": 14,
        "Newcastle": 14,
        "Southampton": 22,
        "Stoke": 9,
        "Tottenham": 20,
        "Cardiff": 12,
        "Man United": 17
    },
    "28": {
        "Arsenal": 25,
        "Liverpool": 23,
        "Norwich": 11,
        "Sunderland": 7,
        "Swansea": 12,
        "West Brom": 14,
        "West Ham": 10,
        "Crystal Palace": 4,
        "Chelsea": 21,
        "Man City": 19,
        "Aston Villa": 14,
        "Everton": 20,
        "Fulham": 10,
        "Hull": 14,
        "Newcastle": 17,
        "Southampton": 22,
        "Stoke": 10,
        "Tottenham": 20,
        "Cardiff": 12,
        "Man United": 20
    },
    "29": {
        "Arsenal": 28,
        "Liverpool": 24,
        "Norwich": 11,
        "Sunderland": 7,
        "Swansea": 15,
        "West Brom": 14,
        "West Ham": 10,
        "Crystal Palace": 7,
        "Chelsea": 24,
        "Man City": 19,
        "Aston Villa": 14,
        "Everton": 21,
        "Fulham": 10,
        "Hull": 14,
        "Newcastle": 20,
        "Southampton": 22,
        "Stoke": 13,
        "Tottenham": 20,
        "Cardiff": 12,
        "Man United": 20
    },
    "30": {
        "Arsenal": 28,
        "Liverpool": 24,
        "Norwich": 11,
        "Sunderland": 7,
        "Swansea": 15,
        "West Brom": 14,
        "West Ham": 10,
        "Crystal Palace": 7,
        "Chelsea": 24,
        "Man City": 22,
        "Aston Villa": 14,
        "Everton": 21,
        "Fulham": 10,
        "Hull": 14,
        "Newcastle": 20,
        "Southampton": 22,
        "Stoke": 13,
        "Tottenham": 20,
        "Cardiff": 13,
        "Man United": 21
    },
    "31": {
        "Arsenal": 28,
        "Liverpool": 24,
        "Norwich": 11,
        "Sunderland": 7,
        "Swansea": 15,
        "West Brom": 15,
        "West Ham": 10,
        "Crystal Palace": 7,
        "Chelsea": 24,
        "Man City": 22,
        "Aston Villa": 15,
        "Everton": 21,
        "Fulham": 10,
        "Hull": 14,
        "Newcastle": 20,
        "Southampton": 22,
        "Stoke": 13,
        "Tottenham": 20,
        "Cardiff": 13,
        "Man United": 21
    },
    "32": {
        "Arsenal": 31,
        "Liverpool": 24,
        "Norwich": 14,
        "Sunderland": 8,
        "Swansea": 15,
        "West Brom": 15,
        "West Ham": 13,
        "Crystal Palace": 7,
        "Chelsea": 24,
        "Man City": 22,
        "Aston Villa": 16,
        "Everton": 24,
        "Fulham": 10,
        "Hull": 14,
        "Newcastle": 23,
        "Southampton": 22,
        "Stoke": 13,
        "Tottenham": 20,
        "Cardiff": 13,
        "Man United": 21
    },
    "33": {
        "Arsenal": 31,
        "Liverpool": 24,
        "Norwich": 14,
        "Sunderland": 8,
        "Swansea": 15,
        "West Brom": 15,
        "West Ham": 13,
        "Crystal Palace": 7,
        "Chelsea": 27,
        "Man City": 25,
        "Aston Villa": 16,
        "Everton": 24,
        "Fulham": 10,
        "Hull": 17,
        "Newcastle": 23,
        "Southampton": 22,
        "Stoke": 13,
        "Tottenham": 21,
        "Cardiff": 13,
        "Man United": 22
    },
    "34": {
        "Arsenal": 31,
        "Liverpool": 24,
        "Norwich": 14,
        "Sunderland": 8,
        "Swansea": 15,
        "West Brom": 15,
        "West Ham": 13,
        "Crystal Palace": 10,
        "Chelsea": 27,
        "Man City": 25,
        "Aston Villa": 16,
        "Everton": 24,
        "Fulham": 10,
        "Hull": 17,
        "Newcastle": 23,
        "Southampton": 22,
        "Stoke": 13,
        "Tottenham": 21,
        "Cardiff": 13,
        "Man United": 22
    },
    "35": {
        "Arsenal": 34,
        "Liverpool": 27,
        "Norwich": 14,
        "Sunderland": 8,
        "Swansea": 18,
        "West Brom": 15,
        "West Ham": 13,
        "Crystal Palace": 10,
        "Chelsea": 30,
        "Man City": 28,
        "Aston Villa": 19,
        "Everton": 27,
        "Fulham": 10,
        "Hull": 17,
        "Newcastle": 23,
        "Southampton": 22,
        "Stoke": 14,
        "Tottenham": 24,
        "Cardiff": 14,
        "Man United": 22
    },
    "36": {
        "Arsenal": 34,
        "Liverpool": 30,
        "Norwich": 17,
        "Sunderland": 8,
        "Swansea": 18,
        "West Brom": 15,
        "West Ham": 13,
        "Crystal Palace": 13,
        "Chelsea": 30,
        "Man City": 29,
        "Aston Villa": 19,
        "Everton": 27,
        "Fulham": 10,
        "Hull": 17,
        "Newcastle": 26,
        "Southampton": 23,
        "Stoke": 17,
        "Tottenham": 27,
        "Cardiff": 14,
        "Man United": 22
    },
    "37": {
        "Arsenal": 35,
        "Liverpool": 30,
        "Norwich": 17,
        "Sunderland": 8,
        "Swansea": 18,
        "West Brom": 15,
        "West Ham": 13,
        "Crystal Palace": 13,
        "Chelsea": 30,
        "Man City": 29,
        "Aston Villa": 19,
        "Everton": 28,
        "Fulham": 13,
        "Hull": 17,
        "Newcastle": 26,
        "Southampton": 23,
        "Stoke": 17,
        "Tottenham": 27,
        "Cardiff": 14,
        "Man United": 22
    },
    "38": {
        "Arsenal": 35,
        "Liverpool": 30,
        "Norwich": 17,
        "Sunderland": 8,
        "Swansea": 19,
        "West Brom": 15,
        "West Ham": 13,
        "Crystal Palace": 13,
        "Chelsea": 30,
        "Man City": 29,
        "Aston Villa": 19,
        "Everton": 28,
        "Fulham": 13,
        "Hull": 18,
        "Newcastle": 26,
        "Southampton": 23,
        "Stoke": 17,
        "Tottenham": 27,
        "Cardiff": 14,
        "Man United": 22
    },
    "39": {
        "Arsenal": 35,
        "Liverpool": 30,
        "Norwich": 17,
        "Sunderland": 9,
        "Swansea": 19,
        "West Brom": 15,
        "West Ham": 14,
        "Crystal Palace": 13,
        "Chelsea": 33,
        "Man City": 32,
        "Aston Villa": 19,
        "Everton": 31,
        "Fulham": 13,
        "Hull": 19,
        "Newcastle": 27,
        "Southampton": 24,
        "Stoke": 18,
        "Tottenham": 27,
        "Cardiff": 17,
        "Man United": 22
    },
    "40": {
        "Arsenal": 35,
        "Liverpool": 33,
        "Norwich": 18,
        "Sunderland": 9,
        "Swansea": 20,
        "West Brom": 15,
        "West Ham": 14,
        "Crystal Palace": 13,
        "Chelsea": 33,
        "Man City": 32,
        "Aston Villa": 19,
        "Everton": 31,
        "Fulham": 13,
        "Hull": 19,
        "Newcastle": 27,
        "Southampton": 24,
        "Stoke": 18,
        "Tottenham": 27,
        "Cardiff": 17,
        "Man United": 25
    },
    "41": {
        "Arsenal": 35,
        "Liverpool": 36,
        "Norwich": 19,
        "Sunderland": 10,
        "Swansea": 20,
        "West Brom": 16,
        "West Ham": 14,
        "Crystal Palace": 13,
        "Chelsea": 33,
        "Man City": 35,
        "Aston Villa": 19,
        "Everton": 31,
        "Fulham": 13,
        "Hull": 20,
        "Newcastle": 30,
        "Southampton": 24,
        "Stoke": 21,
        "Tottenham": 27,
        "Cardiff": 17,
        "Man United": 28
    },
    "42": {
        "Arsenal": 35,
        "Liverpool": 36,
        "Norwich": 19,
        "Sunderland": 10,
        "Swansea": 20,
        "West Brom": 16,
        "West Ham": 14,
        "Crystal Palace": 13,
        "Chelsea": 33,
        "Man City": 35,
        "Aston Villa": 19,
        "Everton": 34,
        "Fulham": 13,
        "Hull": 20,
        "Newcastle": 30,
        "Southampton": 24,
        "Stoke": 21,
        "Tottenham": 30,
        "Cardiff": 17,
        "Man United": 28
    },
    "43": {
        "Arsenal": 36,
        "Liverpool": 36,
        "Norwich": 19,
        "Sunderland": 10,
        "Swansea": 20,
        "West Brom": 16,
        "West Ham": 14,
        "Crystal Palace": 13,
        "Chelsea": 34,
        "Man City": 35,
        "Aston Villa": 19,
        "Everton": 34,
        "Fulham": 13,
        "Hull": 20,
        "Newcastle": 30,
        "Southampton": 24,
        "Stoke": 21,
        "Tottenham": 30,
        "Cardiff": 17,
        "Man United": 28
    },
    "44": {
        "Arsenal": 39,
        "Liverpool": 36,
        "Norwich": 19,
        "Sunderland": 13,
        "Swansea": 20,
        "West Brom": 17,
        "West Ham": 14,
        "Crystal Palace": 16,
        "Chelsea": 37,
        "Man City": 38,
        "Aston Villa": 19,
        "Everton": 34,
        "Fulham": 16,
        "Hull": 20,
        "Newcastle": 33,
        "Southampton": 27,
        "Stoke": 21,
        "Tottenham": 31,
        "Cardiff": 17,
        "Man United": 31
    },
    "45": {
        "Arsenal": 39,
        "Liverpool": 36,
        "Norwich": 19,
        "Sunderland": 14,
        "Swansea": 21,
        "West Brom": 18,
        "West Ham": 15,
        "Crystal Palace": 16,
        "Chelsea": 37,
        "Man City": 41,
        "Aston Villa": 20,
        "Everton": 34,
        "Fulham": 16,
        "Hull": 23,
        "Newcastle": 33,
        "Southampton": 27,
        "Stoke": 21,
        "Tottenham": 31,
        "Cardiff": 18,
        "Man United": 34
    },
    "46": {
        "Arsenal": 42,
        "Liverpool": 36,
        "Norwich": 19,
        "Sunderland": 14,
        "Swansea": 21,
        "West Brom": 18,
        "West Ham": 15,
        "Crystal Palace": 16,
        "Chelsea": 40,
        "Man City": 41,
        "Aston Villa": 20,
        "Everton": 37,
        "Fulham": 16,
        "Hull": 23,
        "Newcastle": 33,
        "Southampton": 27,
        "Stoke": 21,
        "Tottenham": 34,
        "Cardiff": 18,
        "Man United": 34
    },
    "47": {
        "Arsenal": 45,
        "Liverpool": 39,
        "Norwich": 20,
        "Sunderland": 14,
        "Swansea": 21,
        "West Brom": 21,
        "West Ham": 15,
        "Crystal Palace": 17,
        "Chelsea": 43,
        "Man City": 44,
        "Aston Villa": 23,
        "Everton": 38,
        "Fulham": 19,
        "Hull": 23,
        "Newcastle": 33,
        "Southampton": 27,
        "Stoke": 22,
        "Tottenham": 37,
        "Cardiff": 18,
        "Man United": 34
    },
    "48": {
        "Arsenal": 45,
        "Liverpool": 39,
        "Norwich": 20,
        "Sunderland": 17,
        "Swansea": 21,
        "West Brom": 21,
        "West Ham": 18,
        "Crystal Palace": 17,
        "Chelsea": 46,
        "Man City": 44,
        "Aston Villa": 23,
        "Everton": 41,
        "Fulham": 19,
        "Hull": 23,
        "Newcastle": 33,
        "Southampton": 30,
        "Stoke": 22,
        "Tottenham": 40,
        "Cardiff": 18,
        "Man United": 37
    },
    "49": {
        "Arsenal": 45,
        "Liverpool": 42,
        "Norwich": 20,
        "Sunderland": 17,
        "Swansea": 21,
        "West Brom": 21,
        "West Ham": 18,
        "Crystal Palace": 17,
        "Chelsea": 46,
        "Man City": 47,
        "Aston Villa": 23,
        "Everton": 41,
        "Fulham": 19,
        "Hull": 23,
        "Newcastle": 33,
        "Southampton": 30,
        "Stoke": 22,
        "Tottenham": 40,
        "Cardiff": 18,
        "Man United": 37
    },
    "50": {
        "Arsenal": 48,
        "Liverpool": 42,
        "Norwich": 20,
        "Sunderland": 17,
        "Swansea": 21,
        "West Brom": 21,
        "West Ham": 18,
        "Crystal Palace": 17,
        "Chelsea": 46,
        "Man City": 47,
        "Aston Villa": 23,
        "Everton": 41,
        "Fulham": 19,
        "Hull": 23,
        "Newcastle": 33,
        "Southampton": 30,
        "Stoke": 22,
        "Tottenham": 40,
        "Cardiff": 18,
        "Man United": 37
    },
    "51": {
        "Arsenal": 51,
        "Liverpool": 43,
        "Norwich": 23,
        "Sunderland": 18,
        "Swansea": 21,
        "West Brom": 21,
        "West Ham": 18,
        "Crystal Palace": 20,
        "Chelsea": 46,
        "Man City": 50,
        "Aston Villa": 24,
        "Everton": 41,
        "Fulham": 19,
        "Hull": 23,
        "Newcastle": 36,
        "Southampton": 31,
        "Stoke": 22,
        "Tottenham": 40,
        "Cardiff": 18,
        "Man United": 37
    },
    "52": {
        "Arsenal": 51,
        "Liverpool": 43,
        "Norwich": 23,
        "Sunderland": 18,
        "Swansea": 21,
        "West Brom": 21,
        "West Ham": 18,
        "Crystal Palace": 20,
        "Chelsea": 49,
        "Man City": 50,
        "Aston Villa": 24,
        "Everton": 41,
        "Fulham": 19,
        "Hull": 23,
        "Newcastle": 36,
        "Southampton": 31,
        "Stoke": 22,
        "Tottenham": 43,
        "Cardiff": 18,
        "Man United": 37
    },
    "53": {
        "Arsenal": 51,
        "Liverpool": 43,
        "Norwich": 23,
        "Sunderland": 18,
        "Swansea": 21,
        "West Brom": 22,
        "West Ham": 18,
        "Crystal Palace": 20,
        "Chelsea": 49,
        "Man City": 50,
        "Aston Villa": 24,
        "Everton": 42,
        "Fulham": 19,
        "Hull": 23,
        "Newcastle": 36,
        "Southampton": 31,
        "Stoke": 22,
        "Tottenham": 43,
        "Cardiff": 18,
        "Man United": 37
    },
    "54": {
        "Arsenal": 52,
        "Liverpool": 46,
        "Norwich": 24,
        "Sunderland": 18,
        "Swansea": 24,
        "West Brom": 22,
        "West Ham": 18,
        "Crystal Palace": 23,
        "Chelsea": 49,
        "Man City": 50,
        "Aston Villa": 24,
        "Everton": 42,
        "Fulham": 19,
        "Hull": 23,
        "Newcastle": 37,
        "Southampton": 32,
        "Stoke": 22,
        "Tottenham": 43,
        "Cardiff": 18,
        "Man United": 40
    },
    "55": {
        "Arsenal": 52,
        "Liverpool": 46,
        "Norwich": 24,
        "Sunderland": 21,
        "Swansea": 24,
        "West Brom": 22,
        "West Ham": 19,
        "Crystal Palace": 23,
        "Chelsea": 50,
        "Man City": 53,
        "Aston Villa": 27,
        "Everton": 42,
        "Fulham": 19,
        "Hull": 23,
        "Newcastle": 37,
        "Southampton": 32,
        "Stoke": 22,
        "Tottenham": 43,
        "Cardiff": 18,
        "Man United": 40
    },
    "56": {
        "Arsenal": 52,
        "Liverpool": 46,
        "Norwich": 24,
        "Sunderland": 24,
        "Swansea": 24,
        "West Brom": 22,
        "West Ham": 22,
        "Crystal Palace": 23,
        "Chelsea": 50,
        "Man City": 53,
        "Aston Villa": 27,
        "Everton": 45,
        "Fulham": 19,
        "Hull": 24,
        "Newcastle": 37,
        "Southampton": 35,
        "Stoke": 25,
        "Tottenham": 44,
        "Cardiff": 21,
        "Man United": 40
    },
    "57": {
        "Arsenal": 55,
        "Liverpool": 47,
        "Norwich": 24,
        "Sunderland": 24,
        "Swansea": 24,
        "West Brom": 23,
        "West Ham": 22,
        "Crystal Palace": 23,
        "Chelsea": 50,
        "Man City": 53,
        "Aston Villa": 27,
        "Everton": 45,
        "Fulham": 19,
        "Hull": 24,
        "Newcastle": 37,
        "Southampton": 35,
        "Stoke": 25,
        "Tottenham": 44,
        "Cardiff": 21,
        "Man United": 40
    },
    "58": {
        "Arsenal": 55,
        "Liverpool": 47,
        "Norwich": 24,
        "Sunderland": 24,
        "Swansea": 24,
        "West Brom": 23,
        "West Ham": 22,
        "Crystal Palace": 23,
        "Chelsea": 53,
        "Man City": 53,
        "Aston Villa": 27,
        "Everton": 45,
        "Fulham": 19,
        "Hull": 24,
        "Newcastle": 37,
        "Southampton": 35,
        "Stoke": 25,
        "Tottenham": 44,
        "Cardiff": 21,
        "Man United": 40
    },
    "59": {
        "Arsenal": 55,
        "Liverpool": 50,
        "Norwich": 25,
        "Sunderland": 24,
        "Swansea": 27,
        "West Brom": 23,
        "West Ham": 25,
        "Crystal Palace": 26,
        "Chelsea": 56,
        "Man City": 54,
        "Aston Villa": 27,
        "Everton": 45,
        "Fulham": 19,
        "Hull": 27,
        "Newcastle": 37,
        "Southampton": 36,
        "Stoke": 26,
        "Tottenham": 44,
        "Cardiff": 21,
        "Man United": 40
    },
    "60": {
        "Arsenal": 55,
        "Liverpool": 50,
        "Norwich": 25,
        "Sunderland": 24,
        "Swansea": 27,
        "West Brom": 23,
        "West Ham": 25,
        "Crystal Palace": 26,
        "Chelsea": 56,
        "Man City": 54,
        "Aston Villa": 27,
        "Everton": 45,
        "Fulham": 20,
        "Hull": 27,
        "Newcastle": 37,
        "Southampton": 36,
        "Stoke": 26,
        "Tottenham": 47,
        "Cardiff": 21,
        "Man United": 41
    },
    "61": {
        "Arsenal": 55,
        "Liverpool": 50,
        "Norwich": 25,
        "Sunderland": 24,
        "Swansea": 27,
        "West Brom": 24,
        "West Ham": 28,
        "Crystal Palace": 26,
        "Chelsea": 57,
        "Man City": 54,
        "Aston Villa": 28,
        "Everton": 45,
        "Fulham": 20,
        "Hull": 27,
        "Newcastle": 37,
        "Southampton": 39,
        "Stoke": 26,
        "Tottenham": 47,
        "Cardiff": 22,
        "Man United": 41
    },
    "62": {
        "Arsenal": 56,
        "Liverpool": 53,
        "Norwich": 25,
        "Sunderland": 24,
        "Swansea": 28,
        "West Brom": 24,
        "West Ham": 28,
        "Crystal Palace": 26,
        "Chelsea": 57,
        "Man City": 54,
        "Aston Villa": 28,
        "Everton": 45,
        "Fulham": 20,
        "Hull": 27,
        "Newcastle": 37,
        "Southampton": 39,
        "Stoke": 27,
        "Tottenham": 50,
        "Cardiff": 22,
        "Man United": 42
    },
    "63": {
        "Arsenal": 59,
        "Liverpool": 53,
        "Norwich": 25,
        "Sunderland": 24,
        "Swansea": 28,
        "West Brom": 25,
        "West Ham": 31,
        "Crystal Palace": 26,
        "Chelsea": 60,
        "Man City": 57,
        "Aston Villa": 28,
        "Everton": 45,
        "Fulham": 21,
        "Hull": 30,
        "Newcastle": 37,
        "Southampton": 39,
        "Stoke": 27,
        "Tottenham": 50,
        "Cardiff": 22,
        "Man United": 45
    },
    "64": {
        "Arsenal": 59,
        "Liverpool": 56,
        "Norwich": 28,
        "Sunderland": 24,
        "Swansea": 28,
        "West Brom": 25,
        "West Ham": 31,
        "Crystal Palace": 26,
        "Chelsea": 60,
        "Man City": 57,
        "Aston Villa": 28,
        "Everton": 45,
        "Fulham": 21,
        "Hull": 30,
        "Newcastle": 40,
        "Southampton": 39,
        "Stoke": 27,
        "Tottenham": 50,
        "Cardiff": 22,
        "Man United": 45
    },
    "65": {
        "Arsenal": 59,
        "Liverpool": 59,
        "Norwich": 28,
        "Sunderland": 24,
        "Swansea": 28,
        "West Brom": 25,
        "West Ham": 31,
        "Crystal Palace": 26,
        "Chelsea": 63,
        "Man City": 57,
        "Aston Villa": 28,
        "Everton": 48,
        "Fulham": 21,
        "Hull": 30,
        "Newcastle": 43,
        "Southampton": 39,
        "Stoke": 30,
        "Tottenham": 50,
        "Cardiff": 22,
        "Man United": 45
    },
    "66": {
        "Arsenal": 59,
        "Liverpool": 59,
        "Norwich": 28,
        "Sunderland": 24,
        "Swansea": 29,
        "West Brom": 25,
        "West Ham": 31,
        "Crystal Palace": 27,
        "Chelsea": 63,
        "Man City": 57,
        "Aston Villa": 31,
        "Everton": 48,
        "Fulham": 21,
        "Hull": 30,
        "Newcastle": 43,
        "Southampton": 39,
        "Stoke": 30,
        "Tottenham": 53,
        "Cardiff": 22,
        "Man United": 45
    },
    "67": {
        "Arsenal": 59,
        "Liverpool": 59,
        "Norwich": 29,
        "Sunderland": 24,
        "Swansea": 29,
        "West Brom": 25,
        "West Ham": 31,
        "Crystal Palace": 27,
        "Chelsea": 66,
        "Man City": 57,
        "Aston Villa": 31,
        "Everton": 48,
        "Fulham": 21,
        "Hull": 30,
        "Newcastle": 43,
        "Southampton": 42,
        "Stoke": 31,
        "Tottenham": 53,
        "Cardiff": 25,
        "Man United": 48
    },
    "68": {
        "Arsenal": 59,
        "Liverpool": 59,
        "Norwich": 29,
        "Sunderland": 25,
        "Swansea": 29,
        "West Brom": 28,
        "West Ham": 31,
        "Crystal Palace": 28,
        "Chelsea": 66,
        "Man City": 60,
        "Aston Villa": 34,
        "Everton": 51,
        "Fulham": 24,
        "Hull": 30,
        "Newcastle": 43,
        "Southampton": 45,
        "Stoke": 34,
        "Tottenham": 53,
        "Cardiff": 25,
        "Man United": 48
    },
    "69": {
        "Arsenal": 62,
        "Liverpool": 62,
        "Norwich": 29,
        "Sunderland": 25,
        "Swansea": 29,
        "West Brom": 28,
        "West Ham": 31,
        "Crystal Palace": 28,
        "Chelsea": 66,
        "Man City": 60,
        "Aston Villa": 34,
        "Everton": 51,
        "Fulham": 24,
        "Hull": 30,
        "Newcastle": 43,
        "Southampton": 45,
        "Stoke": 34,
        "Tottenham": 53,
        "Cardiff": 25,
        "Man United": 48
    },
    "70": {
        "Arsenal": 62,
        "Liverpool": 65,
        "Norwich": 32,
        "Sunderland": 25,
        "Swansea": 29,
        "West Brom": 28,
        "West Ham": 31,
        "Crystal Palace": 28,
        "Chelsea": 69,
        "Man City": 63,
        "Aston Villa": 34,
        "Everton": 54,
        "Fulham": 24,
        "Hull": 33,
        "Newcastle": 46,
        "Southampton": 45,
        "Stoke": 34,
        "Tottenham": 53,
        "Cardiff": 25,
        "Man United": 51
    },
    "71": {
        "Arsenal": 62,
        "Liverpool": 65,
        "Norwich": 32,
        "Sunderland": 25,
        "Swansea": 29,
        "West Brom": 28,
        "West Ham": 31,
        "Crystal Palace": 28,
        "Chelsea": 69,
        "Man City": 63,
        "Aston Villa": 34,
        "Everton": 54,
        "Fulham": 24,
        "Hull": 33,
        "Newcastle": 46,
        "Southampton": 45,
        "Stoke": 37,
        "Tottenham": 56,
        "Cardiff": 25,
        "Man United": 51
    },
    "72": {
        "Arsenal": 63,
        "Liverpool": 65,
        "Norwich": 32,
        "Sunderland": 25,
        "Swansea": 30,
        "West Brom": 28,
        "West Ham": 31,
        "Crystal Palace": 28,
        "Chelsea": 69,
        "Man City": 66,
        "Aston Villa": 34,
        "Everton": 57,
        "Fulham": 24,
        "Hull": 33,
        "Newcastle": 46,
        "Southampton": 45,
        "Stoke": 37,
        "Tottenham": 56,
        "Cardiff": 25,
        "Man United": 51
    },
    "73": {
        "Arsenal": 63,
        "Liverpool": 68,
        "Norwich": 32,
        "Sunderland": 25,
        "Swansea": 30,
        "West Brom": 28,
        "West Ham": 34,
        "Crystal Palace": 28,
        "Chelsea": 69,
        "Man City": 66,
        "Aston Villa": 34,
        "Everton": 57,
        "Fulham": 24,
        "Hull": 33,
        "Newcastle": 46,
        "Southampton": 45,
        "Stoke": 37,
        "Tottenham": 56,
        "Cardiff": 25,
        "Man United": 51
    },
    "74": {
        "Arsenal": 64,
        "Liverpool": 68,
        "Norwich": 32,
        "Sunderland": 25,
        "Swansea": 33,
        "West Brom": 29,
        "West Ham": 34,
        "Crystal Palace": 31,
        "Chelsea": 69,
        "Man City": 67,
        "Aston Villa": 34,
        "Everton": 57,
        "Fulham": 24,
        "Hull": 33,
        "Newcastle": 46,
        "Southampton": 48,
        "Stoke": 40,
        "Tottenham": 56,
        "Cardiff": 26,
        "Man United": 54
    },
    "75": {
        "Arsenal": 64,
        "Liverpool": 71,
        "Norwich": 32,
        "Sunderland": 25,
        "Swansea": 33,
        "West Brom": 29,
        "West Ham": 34,
        "Crystal Palace": 31,
        "Chelsea": 69,
        "Man City": 67,
        "Aston Villa": 34,
        "Everton": 60,
        "Fulham": 24,
        "Hull": 33,
        "Newcastle": 46,
        "Southampton": 48,
        "Stoke": 40,
        "Tottenham": 56,
        "Cardiff": 26,
        "Man United": 54
    },
    "76": {
        "Arsenal": 64,
        "Liverpool": 71,
        "Norwich": 32,
        "Sunderland": 25,
        "Swansea": 33,
        "West Brom": 29,
        "West Ham": 37,
        "Crystal Palace": 31,
        "Chelsea": 69,
        "Man City": 67,
        "Aston Villa": 34,
        "Everton": 60,
        "Fulham": 24,
        "Hull": 33,
        "Newcastle": 46,
        "Southampton": 48,
        "Stoke": 40,
        "Tottenham": 56,
        "Cardiff": 26,
        "Man United": 54
    },
    "77": {
        "Arsenal": 64,
        "Liverpool": 71,
        "Norwich": 32,
        "Sunderland": 25,
        "Swansea": 33,
        "West Brom": 32,
        "West Ham": 37,
        "Crystal Palace": 34,
        "Chelsea": 72,
        "Man City": 70,
        "Aston Villa": 34,
        "Everton": 60,
        "Fulham": 27,
        "Hull": 36,
        "Newcastle": 46,
        "Southampton": 48,
        "Stoke": 40,
        "Tottenham": 56,
        "Cardiff": 26,
        "Man United": 57
    },
    "78": {
        "Arsenal": 64,
        "Liverpool": 74,
        "Norwich": 32,
        "Sunderland": 25,
        "Swansea": 33,
        "West Brom": 32,
        "West Ham": 37,
        "Crystal Palace": 34,
        "Chelsea": 72,
        "Man City": 70,
        "Aston Villa": 34,
        "Everton": 63,
        "Fulham": 27,
        "Hull": 36,
        "Newcastle": 46,
        "Southampton": 48,
        "Stoke": 40,
        "Tottenham": 56,
        "Cardiff": 26,
        "Man United": 57
    },
    "79": {
        "Arsenal": 64,
        "Liverpool": 74,
        "Norwich": 32,
        "Sunderland": 25,
        "Swansea": 33,
        "West Brom": 32,
        "West Ham": 37,
        "Crystal Palace": 34,
        "Chelsea": 72,
        "Man City": 70,
        "Aston Villa": 34,
        "Everton": 63,
        "Fulham": 27,
        "Hull": 36,
        "Newcastle": 46,
        "Southampton": 48,
        "Stoke": 40,
        "Tottenham": 59,
        "Cardiff": 26,
        "Man United": 57
    },
    "80": {
        "Arsenal": 64,
        "Liverpool": 74,
        "Norwich": 32,
        "Sunderland": 25,
        "Swansea": 33,
        "West Brom": 33,
        "West Ham": 37,
        "Crystal Palace": 37,
        "Chelsea": 72,
        "Man City": 70,
        "Aston Villa": 34,
        "Everton": 66,
        "Fulham": 30,
        "Hull": 36,
        "Newcastle": 46,
        "Southampton": 48,
        "Stoke": 43,
        "Tottenham": 60,
        "Cardiff": 29,
        "Man United": 57
    },
    "81": {
        "Arsenal": 64,
        "Liverpool": 77,
        "Norwich": 32,
        "Sunderland": 25,
        "Swansea": 33,
        "West Brom": 33,
        "West Ham": 37,
        "Crystal Palace": 37,
        "Chelsea": 75,
        "Man City": 70,
        "Aston Villa": 34,
        "Everton": 66,
        "Fulham": 30,
        "Hull": 36,
        "Newcastle": 46,
        "Southampton": 48,
        "Stoke": 43,
        "Tottenham": 60,
        "Cardiff": 29,
        "Man United": 57
    },
    "82": {
        "Arsenal": 67,
        "Liverpool": 77,
        "Norwich": 32,
        "Sunderland": 25,
        "Swansea": 33,
        "West Brom": 33,
        "West Ham": 37,
        "Crystal Palace": 37,
        "Chelsea": 75,
        "Man City": 70,
        "Aston Villa": 34,
        "Everton": 66,
        "Fulham": 30,
        "Hull": 36,
        "Newcastle": 46,
        "Southampton": 48,
        "Stoke": 43,
        "Tottenham": 60,
        "Cardiff": 29,
        "Man United": 57
    },
    "83": {
        "Arsenal": 67,
        "Liverpool": 77,
        "Norwich": 32,
        "Sunderland": 26,
        "Swansea": 33,
        "West Brom": 33,
        "West Ham": 37,
        "Crystal Palace": 40,
        "Chelsea": 75,
        "Man City": 71,
        "Aston Villa": 34,
        "Everton": 66,
        "Fulham": 30,
        "Hull": 36,
        "Newcastle": 46,
        "Southampton": 48,
        "Stoke": 43,
        "Tottenham": 60,
        "Cardiff": 29,
        "Man United": 57
    },
    "84": {
        "Arsenal": 67,
        "Liverpool": 77,
        "Norwich": 32,
        "Sunderland": 29,
        "Swansea": 36,
        "West Brom": 33,
        "West Ham": 37,
        "Crystal Palace": 43,
        "Chelsea": 75,
        "Man City": 71,
        "Aston Villa": 35,
        "Everton": 66,
        "Fulham": 30,
        "Hull": 36,
        "Newcastle": 46,
        "Southampton": 49,
        "Stoke": 44,
        "Tottenham": 63,
        "Cardiff": 30,
        "Man United": 57
    },
    "85": {
        "Arsenal": 70,
        "Liverpool": 80,
        "Norwich": 32,
        "Sunderland": 29,
        "Swansea": 36,
        "West Brom": 33,
        "West Ham": 37,
        "Crystal Palace": 43,
        "Chelsea": 75,
        "Man City": 71,
        "Aston Villa": 35,
        "Everton": 69,
        "Fulham": 30,
        "Hull": 36,
        "Newcastle": 46,
        "Southampton": 49,
        "Stoke": 44,
        "Tottenham": 63,
        "Cardiff": 30,
        "Man United": 57
    },
    "86": {
        "Arsenal": 70,
        "Liverpool": 80,
        "Norwich": 32,
        "Sunderland": 29,
        "Swansea": 36,
        "West Brom": 33,
        "West Ham": 37,
        "Crystal Palace": 43,
        "Chelsea": 75,
        "Man City": 74,
        "Aston Villa": 35,
        "Everton": 69,
        "Fulham": 30,
        "Hull": 36,
        "Newcastle": 46,
        "Southampton": 49,
        "Stoke": 44,
        "Tottenham": 63,
        "Cardiff": 30,
        "Man United": 57
    },
    "87": {
        "Arsenal": 70,
        "Liverpool": 80,
        "Norwich": 32,
        "Sunderland": 29,
        "Swansea": 39,
        "West Brom": 36,
        "West Ham": 37,
        "Crystal Palace": 43,
        "Chelsea": 75,
        "Man City": 74,
        "Aston Villa": 35,
        "Everton": 69,
        "Fulham": 31,
        "Hull": 37,
        "Newcastle": 46,
        "Southampton": 52,
        "Stoke": 44,
        "Tottenham": 66,
        "Cardiff": 30,
        "Man United": 60
    },
    "88": {
        "Arsenal": 70,
        "Liverpool": 80,
        "Norwich": 32,
        "Sunderland": 32,
        "Swansea": 39,
        "West Brom": 36,
        "West Ham": 37,
        "Crystal Palace": 43,
        "Chelsea": 78,
        "Man City": 77,
        "Aston Villa": 35,
        "Everton": 69,
        "Fulham": 31,
        "Hull": 37,
        "Newcastle": 46,
        "Southampton": 52,
        "Stoke": 44,
        "Tottenham": 66,
        "Cardiff": 30,
        "Man United": 60
    },
    "89": {
        "Arsenal": 73,
        "Liverpool": 80,
        "Norwich": 32,
        "Sunderland": 32,
        "Swansea": 39,
        "West Brom": 36,
        "West Ham": 37,
        "Crystal Palace": 43,
        "Chelsea": 78,
        "Man City": 77,
        "Aston Villa": 35,
        "Everton": 69,
        "Fulham": 31,
        "Hull": 37,
        "Newcastle": 46,
        "Southampton": 52,
        "Stoke": 44,
        "Tottenham": 66,
        "Cardiff": 30,
        "Man United": 60
    },
    "90": {
        "Arsenal": 73,
        "Liverpool": 80,
        "Norwich": 32,
        "Sunderland": 35,
        "Swansea": 39,
        "West Brom": 36,
        "West Ham": 40,
        "Crystal Palace": 43,
        "Chelsea": 78,
        "Man City": 80,
        "Aston Villa": 38,
        "Everton": 69,
        "Fulham": 31,
        "Hull": 37,
        "Newcastle": 49,
        "Southampton": 55,
        "Stoke": 47,
        "Tottenham": 66,
        "Cardiff": 30,
        "Man United": 60
    },
    "91": {
        "Arsenal": 76,
        "Liverpool": 80,
        "Norwich": 33,
        "Sunderland": 35,
        "Swansea": 39,
        "West Brom": 36,
        "West Ham": 40,
        "Crystal Palace": 43,
        "Chelsea": 79,
        "Man City": 80,
        "Aston Villa": 38,
        "Everton": 69,
        "Fulham": 31,
        "Hull": 37,
        "Newcastle": 49,
        "Southampton": 55,
        "Stoke": 47,
        "Tottenham": 66,
        "Cardiff": 30,
        "Man United": 60
    },
    "92": {
        "Arsenal": 76,
        "Liverpool": 81,
        "Norwich": 33,
        "Sunderland": 35,
        "Swansea": 39,
        "West Brom": 36,
        "West Ham": 40,
        "Crystal Palace": 44,
        "Chelsea": 79,
        "Man City": 80,
        "Aston Villa": 38,
        "Everton": 69,
        "Fulham": 31,
        "Hull": 37,
        "Newcastle": 49,
        "Southampton": 55,
        "Stoke": 47,
        "Tottenham": 66,
        "Cardiff": 30,
        "Man United": 60
    },
    "93": {
        "Arsenal": 76,
        "Liverpool": 81,
        "Norwich": 33,
        "Sunderland": 35,
        "Swansea": 39,
        "West Brom": 36,
        "West Ham": 40,
        "Crystal Palace": 44,
        "Chelsea": 79,
        "Man City": 80,
        "Aston Villa": 38,
        "Everton": 69,
        "Fulham": 31,
        "Hull": 37,
        "Newcastle": 49,
        "Southampton": 55,
        "Stoke": 47,
        "Tottenham": 66,
        "Cardiff": 30,
        "Man United": 63
    },
    "94": {
        "Arsenal": 76,
        "Liverpool": 81,
        "Norwich": 33,
        "Sunderland": 38,
        "Swansea": 39,
        "West Brom": 36,
        "West Ham": 40,
        "Crystal Palace": 44,
        "Chelsea": 79,
        "Man City": 83,
        "Aston Villa": 38,
        "Everton": 69,
        "Fulham": 31,
        "Hull": 37,
        "Newcastle": 49,
        "Southampton": 55,
        "Stoke": 47,
        "Tottenham": 66,
        "Cardiff": 30,
        "Man United": 63
    },
    "95": {
        "Arsenal": 79,
        "Liverpool": 84,
        "Norwich": 33,
        "Sunderland": 38,
        "Swansea": 42,
        "West Brom": 36,
        "West Ham": 40,
        "Crystal Palace": 45,
        "Chelsea": 82,
        "Man City": 86,
        "Aston Villa": 38,
        "Everton": 72,
        "Fulham": 32,
        "Hull": 37,
        "Newcastle": 49,
        "Southampton": 56,
        "Stoke": 50,
        "Tottenham": 69,
        "Cardiff": 30,
        "Man United": 64
    }
    };
    
    
    // Create root element
    // https://www.amcharts.com/docs/v5/getting-started/#Root_element
    var root = am5.Root.new("chartdiv");
    
    root.numberFormatter.setAll({
      numberFormat: "#a",
    
      // Group only into M (millions), and B (billions)
      bigNumberPrefixes: [
        { number: 1e6, suffix: "M" },
        { number: 1e9, suffix: "B" }
      ],
    
      // Do not use small number prefixes at all
      smallNumberPrefixes: []
    });
    
    var stepDuration = 500;
    
    
    // Set themes
    // https://www.amcharts.com/docs/v5/concepts/themes/
    root.setThemes([am5themes_Animated.new(root)]);
    
    
    // Create chart
    // https://www.amcharts.com/docs/v5/charts/xy-chart/
    var chart = root.container.children.push(am5xy.XYChart.new(root, {
      panX: true,
      panY: true,
      wheelX: "none",
      wheelY: "none"
    }));
    
    
    // We don't want zoom-out button to appear while animating, so we hide it at all
    chart.zoomOutButton.set("forceHidden", true);
    
    
    // Create axes
    // https://www.amcharts.com/docs/v5/charts/xy-chart/axes/
    var yRenderer = am5xy.AxisRendererY.new(root, {
      minGridDistance: 20,
      inversed: true
    });
    // hide grid
    yRenderer.grid.template.set("visible", false);
    
    var yAxis = chart.yAxes.push(am5xy.CategoryAxis.new(root, {
      maxDeviation: 0,
      categoryField: "network",
      renderer: yRenderer
    }));
    
    var xAxis = chart.xAxes.push(am5xy.ValueAxis.new(root, {
      maxDeviation: 0,
      min: 0,
      strictMinMax: true,
      extraMax: 0.1,
      renderer: am5xy.AxisRendererX.new(root, {})
    }));
    
    xAxis.set("interpolationDuration", stepDuration / 10);
    xAxis.set("interpolationEasing", am5.ease.linear);
    
    
    // Add series
    // https://www.amcharts.com/docs/v5/charts/xy-chart/series/
    var series = chart.series.push(am5xy.ColumnSeries.new(root, {
      xAxis: xAxis,
      yAxis: yAxis,
      valueXField: "value",
      categoryYField: "network"
    }));
    
    // Rounded corners for columns
    series.columns.template.setAll({ cornerRadiusBR: 5, cornerRadiusTR: 5 });
    
    // Make each column to be of a different color
    series.columns.template.adapters.add("fill", function (fill, target) {
      return chart.get("colors").getIndex(series.columns.indexOf(target));
    });
    
    series.columns.template.adapters.add("stroke", function (stroke, target) {
      return chart.get("colors").getIndex(series.columns.indexOf(target));
    });
    
    // Add label bullet
    series.bullets.push(function () {
      return am5.Bullet.new(root, {
        locationX: 1,
        sprite: am5.Label.new(root, {
          text: "{valueXWorking.formatNumber('#.# a')}",
          fill: root.interfaceColors.get("alternativeText"),
          centerX: am5.p100,
          centerY: am5.p50,
          populateText: true
        })
      });
    });
    
    var label = chart.plotContainer.children.push(am5.Label.new(root, {
      text: "DAY 1",
      fontSize: "8em",
      opacity: 0.2,
      x: am5.p100,
      y: am5.p100,
      centerY: am5.p100,
      centerX: am5.p100
    }));
    
    // Get series item by category
    function getSeriesItem(category) {
      for (var i = 0; i < series.dataItems.length; i++) {
        var dataItem = series.dataItems[i];
        if (dataItem.get("categoryY") == category) {
          return dataItem;
        }
      }
    }
    
    // Axis sorting
    function sortCategoryAxis() {
      // sort by value
      series.dataItems.sort(function (x, y) {
        return y.get("valueX") - x.get("valueX"); // descending
        //return x.get("valueX") - y.get("valueX"); // ascending
      });
    
      // go through each axis item
      am5.array.each(yAxis.dataItems, function (dataItem) {
        // get corresponding series item
        var seriesDataItem = getSeriesItem(dataItem.get("category"));
    
        if (seriesDataItem) {
          // get index of series data item
          var index = series.dataItems.indexOf(seriesDataItem);
          // calculate delta position
          var deltaPosition =
            (index - dataItem.get("index", 0)) / series.dataItems.length;
          // set index to be the same as series data item index
          if (dataItem.get("index") != index) {
            dataItem.set("index", index);
            // set deltaPosition instanlty
            dataItem.set("deltaPosition", -deltaPosition);
            // animate delta position to 0
            dataItem.animate({
              key: "deltaPosition",
              to: 0,
              duration: stepDuration / 2,
              easing: am5.ease.out(am5.ease.cubic)
            });
          }
        }
      });
      // sort axis items by index.
      // This changes the order instantly, but as deltaPosition is set, they keep in the same places and then animate to true positions.
      yAxis.dataItems.sort(function (x, y) {
        return x.get("index") - y.get("index");
      });
    }
    
    var year = 1;
    
    // update data with values each 1.5 sec
    var interval = setInterval(function () {
      year++;
    
      if (year > 95) {
        clearInterval(interval);
        clearInterval(sortInterval);
      }
    
      updateData();
    }, stepDuration);
    
    var sortInterval = setInterval(function () {
      sortCategoryAxis();
    }, 100);
    
    function setInitialData() {
      var d = allData[year];
    
      for (var n in d) {
        series.data.push({ network: n, value: d[n] });
        yAxis.data.push({ network: n });
      }
    }
    
    function updateData() {
      var itemsWithNonZero = 0;
    
      if (allData[year]) {
        var labelText = "DAY" + year.toString(); // 在年份前面加上"DAY"
        label.set("text", labelText);
    
        am5.array.each(series.dataItems, function (dataItem) {
          var category = dataItem.get("categoryY");
          var value = allData[year][category];
  
  
          
    
          if (value > 0) {
            itemsWithNonZero++;
          }
    
          dataItem.animate({
            key: "valueX",
            to: value,
            duration: stepDuration,
            easing: am5.ease.linear
          });
          dataItem.animate({
            key: "valueXWorking",
            to: value,
            duration: stepDuration,
            easing: am5.ease.linear
          });
        });
    
        yAxis.zoom(0, itemsWithNonZero / yAxis.dataItems.length);
      }
    }
    
    setInitialData();
    setTimeout(function () {
      year++;
      updateData();
    }, 50);
    
    // Make stuff animate on load
    // https://www.amcharts.com/docs/v5/concepts/animations/
    series.appear(1000);
    chart.appear(1000, 100);
    
    }); // end am5.ready()
    </script>
    
    <!-- HTML -->
    <div id="chartdiv"></div>